// Variables

// Root
$root-font-size: 16px;

// Grid system
$grid-columns: 12;
$grid-gutter-width: 1rem;

// Breakpoints
$grid-breakpoints: (
  sm: 600px, // Match style of WordPress block library
  md: 782px,
  lg: 1024px
);

// Container max widths
$container-max-widths: (
  sm: 30rem,
  md: 40rem,
  lg: 60rem
);

// Theme color
$key-color: hsl(200, 60%, 50%);
$theme-colors: (
  primary:       $key-color,
  primary-light: lighten($key-color, 25%),
  primary-dark:  darken($key-color, 10%),
  secondary:     adjust-hue($key-color, -150deg),
  light:         lighten(#000000, 85%),
  dark:          lighten(#000000, 15%)
);

$body-bg:    #ffffff;
$body-color: lighten(#000000, 15%);

$link-color:            lighten(#000000, 30%);;
$link-decoration:       none;
$link-hover-color:      map-get($theme-colors, "primary");
$link-hover-decoration: underline;

// Theme Fonts
$font-family-sans-serif: "Noto Sans JP", sans-serif;
$font-family-serif:      "Noto Serif JP", serif;
$font-weight-sans-serif: 400;
$font-weight-serif:      400;

$font-family-base:    $font-family-sans-serif;
$font-weight-base:    $font-weight-sans-serif;
$font-size-base:      1rem;
$text-align-base:     justify;
$line-height-base:    28.8 / ($root-font-size / ($root-font-size * 0 + 1)); // Remove the unit
$letter-spacing-base: 0;

$heading-font-family: $font-family-sans-serif;
$heading-font-weight: $font-weight-sans-serif;

$small-font-size:      percentage(7 / 8);
$small-line-height:    $line-height-base * 9 / 8;
$small-letter-spacing: 0.04rem;
