/* Section About
------------------------------*/

.about {
  @extend %section;
  background-color: #ffffff; // Color detected

  &__heading {
    @extend %section__heading;
  }

  &__heading-container {
    @extend %section__heading-container;
  }

  &__main {
    @include container();
  }

  &__container {
    @include row();
    margin-bottom: 1.5rem;
    justify-content: space-around;
    align-items: center;
  }

  &__copy {
    @include col("lg", 12);

    img {
      width: 30rem;
    }
  }

  %__paragraph {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;

    @media (min-width: breakpoint("lg")) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__paragraph {
    @extend %__paragraph;

    &--num_1 {
      @extend %__paragraph;
      @include col("lg", 5);

      p {
        letter-spacing: 0.04rem;
      }

      img {
        width: 25rem;

        @media (max-width: breakpoint("lg") - 1) {
          display: none;
        }
      }
    }

    &--num_2 {
      @extend %__paragraph;
      @include col("lg", 5);

      img {
        width: 25rem;
        margin-top: 3rem;

        @media (max-width: breakpoint("lg") - 1) {
          display: none;
        }
      }
    }

    &--num_3 {
      @extend %__paragraph;
      @include col("lg", 6);

      img {
        width: 30rem
      }
    }
  }

  &__logo {
    @include col("lg", 5);

    img {
      width: 25rem;
    }
  }

  &__map {
    @include col("lg", 6);

    img {
      width: 30rem
    }
  }

  &__landscape {
    @include col("lg", 6);

    img {
      width: 30rem
    }
  }

  &__members {
    @include col("lg", 12); 
    
    img {
      width: 60rem
    }
  }
}
