/* Section Archive Info
------------------------------*/

.archive-info-header {
  @include row();
  margin-top: 0;
  margin-bottom: 3rem;

  &__intro {
    @include col("md", 6);
    text-align: left;
  }

  &__heading {
    width: 15rem;
  }

  &__text, &__more {
    padding-left: .5rem;
  }

  &__image {
    @include col("md", 6);
    
    img {
      width: 18rem;
    }
  }
}

.archive-info-item {
  margin: 0 auto 3rem;
  padding-left: .5rem;
  padding-right: .5rem;

  &__inner {
    @include row();
    padding: 1rem 0;
    background: theme-color("light");
  }

  &__intro {
    @include col("md", 6);
    padding: 0 1rem;

    @media (min-width: breakpoint("md")) {
      order: 2;
    }
  }

  &__title {
    margin: 0 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
  }

  &__textbox {
    margin-bottom: 0;
    font-size: $small-font-size;
    line-height: $small-line-height;
    letter-spacing: $small-letter-spacing;

    p {
      margin-bottom: 0;
      line-height: 1.5;
    }
  }

  &__image {
    @include col("md", 6);
    height: 12rem;
    padding: 0 1rem;

    @media (min-width: breakpoint("md")) {
      order: 1;
    }

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }
  }
}

.archive-info-sidebar {
  @include list-unstyled();
  
  &__item {
    margin-bottom: 1rem;

    span {
      text-transform: uppercase;
      letter-spacing: .08rem;
    }

    &:nth-child(6) {
      margin-bottom: 1.5rem;
    }
  }
}
