/* Section Archive Plan
------------------------------*/

.archive-plan-header {
  margin-bottom: 3rem;
  text-align: center;
}

.archive-plan-main {
  @include row();
  justify-content: space-around;
}

.archive-plan-item {
  @include col("lg", 5);
  margin-bottom: 3rem;
  text-align: center;
}
