/* Section Blog
------------------------------*/

.blog {
  @extend %section;
  background-color: #ffffff; // Color detected

  &__heading {
    @extend %section__heading;
  }

  &__heading-container {
    @extend %section__heading-container;
  }
}
