/* Layout Hero
------------------------------*/

$imageCount: 6;
$imageDuration: 5;

.hero {
  &__inner {
    @include cover-unit();
  }

  &__contentwrap {
    @include cover-section();
    position: relative;
  }

  &__content {
    &.fade {
      opacity: 0;
      animation: fade #{$imageCount * $imageDuration}s ease 0s infinite normal;
    }
  
    img {
      width: 18rem;
    }
  }

  &__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    display: block;
    width: 18rem;
    @include button("lg");
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(theme-color("primary"), .7);
    font-size: $small-font-size;
  }

  &__self {
    padding-right: .5rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
  }
}

@for $i from 1 through $imageCount  {
  .hero__image--num_#{$i} { 
    @include cover-image(url("./assets/landscape/main0#{$i - 1}.jpg"));
    opacity: 0;

    &.fade {
      animation: fade #{$imageCount * $imageDuration}s ease #{($i - 1) * $imageDuration}s infinite normal;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
}
