/* Section PIC info
------------------------------*/

.pic-info {
  &__heading {
    margin-top: 2rem;
    font-weight: bolder;
    letter-spacing: .25rem;
  }

  &__table {
    @include table();
  }
}
