/* Layout Article
------------------------------*/

.article {
  margin-bottom: 3rem;

  // Header only for the default post type
  &__header {
    margin-bottom: 2rem;
  }

  &__date {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  &__title {
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.25; // Make 2.5rem height by margin, font-size and line-height
    vertical-align: bottom;
  }

  &__terms {
    display: inline-block;
    margin-bottom: 0;
    @include list-unstyled();
    vertical-align: bottom;
  }

  &__term {
    display: inline-block;
    margin-left: .75rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      @include button("sm", "lighter");
      font-size: 1rem;
      line-height: 1.25; // Make 2.5rem height by button mixin and line-height
    }
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
    text-align: center;

    a:hover img {
      opacity: .7;
    }
  }

  &--work {
    @include row();
  
    &__primary {
      @include col("lg", 4);
      order: 2;
    }
  
    &__title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
  
    &__info {
      @include table();
      margin-bottom: 1rem;
    }
  
    &__content {
      margin-bottom: 1rem;
    }
  
    &__secondary {
      @include col("lg", 8);
      text-align: center;
      order: 1;
  
      img {
        margin-bottom: 2rem;
      }
    }
  }  
}
