/* Section Blog
------------------------------*/

.blog {
  @extend %section;
  background-color: #ffffff; // Color detected

  &__heading {
    @extend %section__heading;
  }

  &__heading-container {
    @extend %section__heading-container;
  }

  &__categories {
    @include container();
    margin-bottom: 3rem;
  }

  &__category {
    display: inline-block;

    a {
      display: inline-block;
      margin-right: 1rem;
      padding: 0.6rem 1.25rem 0.65rem;
      border-radius: 1.25rem;
      background-color: theme-color("primary");
      color: #ffffff;

      &:hover {
        opacity: .7;
        text-decoration: none;
      }

      &::before {
        content: "#";
      }
    }
  }
}
