/* Section Info
------------------------------*/

.info {
  @extend %section;
  background-color: #ffffff; // Color detected

  &__heading {
    @extend %section__heading;
  }

  &__heading-container {
    @extend %section__heading-container;
  }

  &__main {
    @include container();
  }

  &__container {
    @include row();
    justify-content: center;
  }
}

.info-item {
  @include col("lg", 6);
  margin-bottom: 3rem;

  &__inner {
    @include row();
  }

  &__intro {
    @include col("md", 6);
    text-align: left;
  }

  &__heading {
    width: 15rem;
  }

  &__text, &__more {
    padding-left: .5rem;
  }

  &__image {
    @include col("md", 6);
    
    img {
      width: 18rem;
    }
  }
}

@media (min-width: breakpoint("md")) and (max-width: breakpoint("lg") - 1) {
  .info-item {
    &:nth-child(even) {
      .info-item__intro {
        order: 2;
      }

      .info-item__image {
        order: 1;
      }
    }
  }
}
