/* Section Plan
------------------------------*/

.plan {
  @extend %section;

  &__heading {
    @extend %section__heading;
  }

  &__heading-container {
    @extend %section__heading-container;
  }
}

.plan-caption {
  padding-bottom: 3rem;
  font-size: 1rem;

  &__person {
    display: block;
    margin-bottom: .75rem;
  }

  &__title {
    display: block;
    margin-bottom: .75rem;
    font-weight: 700;
    font-size: 1.25rem;
  }
}
