/**
 * Project - Post Item
 */

.postItem {
  &__image {
    img {
      aspect-ratio: 1 / $imgAspectRatio;
      object-fit: cover;
    }
  }

  &__info {
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $smallFontSize;
  }

  &__heading {
    margin-top: space(2);
    margin-bottom: space(1);
    font-size: $h3FontSize;
  }

  &__content p {
    text-align: justify;
  }

  &__excerpt {
    margin-bottom: space(1);
    text-align: justify;
  }

  &.--single {
    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-bottom: space(3);
      }

      &__excerpt {
        margin-bottom: space(1);

        .wp-block-post-excerpt__excerpt {
          margin-bottom: space(3);
        }
      }
    }
  }
}
