/**
 * Project - Posts
 */

.post.--single {
  @include col();
  @include col("lg", 8);
  padding-top: 0;
  padding-bottom: 3rem;

  & .post {
    &__date {
      height: 3rem;
      line-height: 3rem; // 検索窓またはウィジェットの見出しと高さを合わせる
    }

    &__heading {
      margin-top: .75rem;
      margin-bottom: .75rem;
      text-transform: capitalize;
    }

    &__tags {
      @include row(flex-start);
      margin-top: .75rem;
      margin-bottom: .75rem;
    }

    &__tag {
      margin: .375rem;
      padding-left: .375rem;
      padding-right: .375rem;
      background-color: themeColor("lighter");

      a::before {
        content:"#";
      }
    }

    &__image {
      margin: 1.5rem auto;
      text-align: center;
    }

    &__content {
      text-align: justify;
    }
  }
}
