/**
 * Project - Post List
 */

.postList {
  @include listUnstyled();

  &.--grid {
    @include row();

    .postList__item {
      @include col(4, false, "md");
      margin-bottom: space(3);
    }

    .postItem {
      &__heading {
        font-size: $h4FontSize;
      }

      &__excerpt, &__more {
        @include smallText();
      }

      &__more {
        text-align: center;
      }
    }
  }

  &.--list {
    .postList__item {
      margin-bottom: space(3);
      padding-bottom: space(3);
      border-bottom: 1px solid themeColor('dark');

      &:last-child {
        border: 0;
      }
    }

    .postItem {
      @include row(center);

      &__image {
        @include col(3, ture);
        margin: 0;
      }

      &__content {
        @include col(6, ture);
      }

      &__heading {
        font-size: $h4FontSize;
      }

      &__excerpt, &__more {
        @include smallText();
      }

      &__more {
        text-align: right;
      }
    }
  }
}
