/**
 * Project - Section
 */

.section {
  &__inner {
    padding-top: space(4);
    padding-bottom: space(4);
    background-color: $bodyBg;

    .section:nth-child(odd) & {
      background-color: themeColor("lighter");
    }
  }

  &__heading {
    margin: space(3) 0;
    text-align: center;
  }

  &__container {
    @include container();
    padding-top: space(2) + space(3);
    padding-bottom: space(4);

    &.--sm {
      @include container("sm");
    }
  }
}
