/**
 * Project - Toppage sections
 */

%__headingContainer {
  @include container();
  @include row(space-between, stretch);
  height: 6rem;
  margin-bottom: 1.5rem;
  background: url("./assets/illust_dec_sm.svg") no-repeat right top;

  @media (min-width: breakpoint("md")) {
    justify-content: space-around;
    background: none;
  }

  &::before, &::after {
    @include col("md", 8 / 3); // 192px
    @include col("lg", 3);     // 288px

    @media (min-width: breakpoint("md")) {
      content: "";
      background: url("./assets/illust_dec.svg") repeat-x left center;
    }
  }
}

%__heading {
  position: relative;
  width: 21rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $h2FontSize;
  text-align: left;
  text-transform: capitalize;

  @media (min-width: breakpoint("md")) {
    text-align: center;
  }
}

%__headingSpan1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 120%;
  height: 4.5rem;
  margin: auto;
  color: var(--primary-color);
  font-weight: bolder;
  font-style: italic;
  font-size: 150%;
  line-height: 4.5rem;
  transform: scale(0.8333, 1) translate(-10%, 0);
}

%__headingSpan2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: auto;
  color: var(--primary-color);
  font-style: italic;
  font-size: 75%;
  line-height: 1.5rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $bodyBg;
  text-align: center;
  
  &:first-of-type {
    padding-top: 6rem;
  }

  &__headingContainer {
    &:not(.--discover) {
      @extend %__headingContainer;
    }

    &.--discover {
      @include container();

    }
  }

  &__heading {
    &:not(.--discover) {
      @extend %__heading;
    }

    &.--discover {
      @include row(center, stretch);
      height: 6rem;
      margin-top: 3rem;
      margin-bottom: 1.5rem;

      @media (min-width: breakpoint("md")) {
        height: 12rem;
        margin-top: 4.5rem;
        margin-bottom: 3rem;
      }
    }
  }

  &__headingSpan1 {
    @extend %__headingSpan1;
  }

  &__headingSpan2 {
    @extend %__headingSpan2;
  }

  &__headingImage {
    &.--main {
      @include col("xs", 6);
      @include col("md", 5);
      @include col("lg", 4);
    }

    &.--left {
      @include col("xs", 3);
    }

    &.--right {
      @include col("xs", 3);
    }
  }

  &__description {
    margin-bottom: 1.5rem; 
  }

  &__inner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.--container {
      @include container();
    }
  }

  &__content {
    @include container("md");
    margin-bottom: 3rem;
    text-align: justify;
  }

  &__moreWrap {
    text-align: center;
  }

  &__more {
    display: inline-block;
    text-transform: capitalize;
  }

  &__moreText::after {
    content: $sectionMoreText;
    text-transform: none;
  }

  &.--hero {
    position: relative;
    height: $heroHeight;
    min-height: 480px; // 小型端末の横向き表示に対応
    @include row(center, center);
    background-color: transparent;

    .section__content {
      text-align: center;
    }
    
    .hero__logo {
      width: 18rem;
    }
  }

  &.--about {
    .post__inner {
      @include row();
    }

    .post__image {
      @include col("lg", 6);
      margin: 0;
    }

    .post__textContent {
      @include col("lg", 4);
      padding: .75rem 0;
      margin-bottom: .75rem;
      text-align: justify;
    }

    @media (min-width: breakpoint("lg")) {
      .post:nth-child(even) {
        .post__image {
          order: 2;
        }

        .post__textContent {
          order: 1;
        }
      }
    }
  }

  &.--location {
    .section__map {
      position: relative;
      width: 100%;
      height: 480px;
  
      iframe {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }

  &.--contact {
    .section__content {
      @include form();
    }
  }
}
