/**
 * Project - Section
 */

.section {
  padding-top: space(4);
  padding-bottom: space(4);
  
  section:not(.--discover) &__inner {
    background-color: $bodyBg;
  }

  &__titleArea {
    @extend %__titleArea;
  }

  &__title {
    @extend %__title;
  }

  &__titleText {
    @extend %__titleText;
  }

  &__container {
    @extend %__containerLg;
  }

  &.--pickup {
    .wp-block-post-excerpt {
      &__more-text {
        text-align: center;
      }

      &__more-link {
        @include button("primaryDark");
      }
    }
  }
}
