/**
 * Component - Drawer Menu
 */

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1110;
  display: block;
  width: calc(#{$drawerPad * 2} + #{$drawerHeight});
  height: calc(#{$drawerPad * 2} + #{$drawerHeight});
  padding: 0; // Reset
  border: 0;
  background-color: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;

  @if $drawerAlwaysShown == false {
    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  &__navicon.icon, &__close.icon {
    position: absolute;
    top: $drawerPad;
    right: $drawerPad;
    width: $drawerHeight;
    height: $drawerHeight;
    transition: .25s all ease-in-out;
  }

  &__navicon {
    opacity: 0;
    transform: rotate(-45deg);

    @at-root .drawer:not(.--active) .drawer__navicon {
      opacity: 1;
      transform: rotate(0);
    }
  }

  &__close {
    opacity: 1;
    transform: rotate(0);

    @at-root .drawer:not(.--active) .drawer__close {
      opacity: 0;
      transform: rotate(45deg);
    }
  }

  &.--dark {
    .drawer__close {
      color: $white;
    }
  }
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: clamp(18rem, 40%, 24rem);
  height: 100%;
  margin: auto;
  background-color: themeColor("light");
  text-align: center;
  transition: width ease-in-out .25s;
  
  &:not(.--show) {
    width: 0;
  }
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    margin-bottom: 0;
    padding-left: 20%;
    text-align: left;
    opacity: 1;
    
    &:not(.--show) {
      opacity: 0;
    }

    &.--collapse {
      display: none;
    }
  }

  &__primaryMenu,
  &__socialMenu {
    list-style: none;
    flex: 1 1 100%;
    padding-left: 0;
  }

  &__socialMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    width: 100%;
    margin-bottom: 0;
    padding-top: space(1);
    padding-bottom: space(1);
    text-transform: capitalize;

    &.--siteBrand {
      padding-top: 1rem;
      padding-bottom: 1rem;

      img {
        width: auto;
        height: $drawerHeight;
      }
    }

    &.--social {
      width: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  &.--dark {
    background-color: $drawerMenuDarkBg;

    .drawerMenu__item {
      &.--social {
        fill: $white;
      }

      a {
        color: $white;

        img {
          filter: $whiten;
        }
      }
    }
  }
}

.drawerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &.--collapse {
    display: none;
  }
}
