/**
 * Component - Embedded
 */

.embed {
  position: relative;
  width: 100%;
  height: 62.5vh;

  iframe {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
