/* Component Lists
------------------------------*/

.lists {
  @include container();

  &__item {
    @include row();
    margin-bottom: 1rem;
  }

  &__image {
    @include col("lg", 4);

    a:hover img {
      opacity: .7;
    }
  }

  &__textbox {
    @include col("lg", 8); // Match the width of the "md" size
  }

  &__textbox-inner {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
  }

  &__content {
    padding: .5rem 1.5rem;
    text-align: left;
  }

  &__date {
    margin-top: .75rem;
    margin-bottom: .75rem;
    line-height: 1; // Make 2.5rem height by margin and line-height
  }

  &__heading {
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.25; // Make 2.5rem height by margin, font-size and line-height
    vertical-align: bottom;
  }

  &__terms {
    display: inline-block;
    margin-bottom: 0;
    @include list-unstyled();
    vertical-align: bottom;
  }

  &__term {
    display: inline-block;
    margin-left: .75rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      @include button("sm", "lighter");
      font-size: 1rem;
      line-height: 1.25; // Make 2.5rem height by button mixin and line-height
    }
  }

  &__intro {
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem; // Match the inner top with the margin
    text-align: justify;
  }
}
