/**
 * Component - Media Text
 */

.mediaText {
  .post__inner {
    @include row();
  }

  .post__image {
    @include col();
    @include col("lg", 9);
    margin: 0;

    @at-root .mediaText.--left .post__image, .mediaText.--right .post__image {
      @include col("lg", 5);
    }

    @at-root .mediaText.--right .post__image {
      @media (min-width: breakpoint("lg")) {
        order: 2;
      }
    }
  }

  .post__textContent {
    @include col();
    @include col("lg", 9);
    margin-top: .75rem;
    margin-bottom: .75rem;

    @at-root .mediaText.--left .post__textContent, .mediaText.--right .post__textContent {
      @include col("lg", 5);
    }

    @at-root .mediaText.--right .post__textContent {
      @media (min-width: breakpoint("lg")) {
        order: 1;
      }
    }
  }

  .post__heading {
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-size: $h3FontSize;
    text-transform: capitalize;
  }

  .post__content {
    text-align: justify;
  }

  .post__excerpt {
    margin-bottom: 1.5rem;
    text-align: justify;
  }

  .post__moreWrap {
    margin-top: .75rem;
    margin-bottom: .75rem;
    text-align: center;
  }

  .post__more {
    display: inline-block;
    @include button("md", "primary");
  }

  .post__moreText::after {
    content: $mediaItemMoreText;
  }
}
