/**
 * Component - Modal
 */

.modal {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1200; // #drawerMenuより上
    width: map-get($modalWidths, "md");
    height: map-get($modalHeights, "md");
    margin: auto;
    border-radius: 3rem;
    background-color: themeColor("lightest");
    overflow: hidden;
    transition: all ease-in-out .65s;

    &.--lg {
      @media (min-width: breakpoint("lg")) {
        width: map-get($modalWidths, "lg");
        height: map-get($modalHeights, "lg");
      }
    }

    &.--collapse {
      width: 0;
      transition: all ease-in-out .35s;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease-in-out .35s;

    &.--hide {
      opacity: 0;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1190;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: rgba(themeColor("darkest"), .85);
    opacity: 1;
    transition: opacity ease-in-out 1s;
    overflow: hidden;

    &.--hide {
      opacity: 0;
      transition: opacity ease-in-out .35s;
    }

    &.--collapse {
      width: 0;
      transition: none;
    }
  }

  &__close, &__prev, &__next {
    position: fixed;
    z-index: 1210;
    width: 4.5rem;
    height: 4.5rem;
    margin: auto;
    color: themeColor('lightest');

    &:hover {
      text-decoration: none;
    }

    &.--collapse {
      display: none;
    }
  }

  &__close {
    top: 1.5rem;
    right: 1.5rem;
  }

  &__prev {
    top: 0;
    left: 1.5rem;
    bottom: 0;
  }

  &__next {
    top: 0;
    right: 1.5rem;
    bottom: 0;
  }

  &__content {
    display: none;
  }
}
