/* Component Pagination
------------------------------*/

.pagination {
  margin-bottom: 2rem; 
  text-align: center;

  &__items {
    margin-bottom: 0;
    @include list-unstyled;
  }

  %__item {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
  }

  &__item {
    @extend %__item;

    &--prev {
      @extend %__item;
      margin-right: 3rem;
    }

    &--next {
      @extend %__item;
      margin-left: 3rem;
    }

    &--active {
      @extend %__item;
      padding: 1rem;
      @include background("primary-dark");
    }

    &--joint {
      @extend %__item;
      padding: 1rem;
      @include background("primary");
    }
  }

  a {
    display: block;
    @include button("sm", "primary");
    padding: 1rem;
  }
}
