// Booking

#booking-page,
#booking-form,
#booking-thanks {
  .primary-col {
    margin-bottom: 3rem;
    text-align: left;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .monthly-calendar {
    margin-top: 3rem;
  }
}
