// Common

// Grid

.container {
  @include container();
}

.row {
  @include row();
}

.secondary-col,
.tertiary-col {
  h2 {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
}

// Heading

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bolder;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: .5rem; 
}

// Image clip

.img-clip {
  @include image-clip();
}

.img-clip-inner {
  @include image-clip-inner();
}

// Accessibility

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
