// Layout

.container {
  @include container();
}

.row {
  @include row();
}

.secondary-col,
.tertiary-col {
  h2 {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
}

// Heading

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bolder;
}

h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem; 
}

p {
  margin-bottom: 1rem;
  line-height: $line-height-base;
}

ol, ul {
  margin-bottom: 1rem;

  li {
    margin-bottom: .5rem;
  }
}

// Blockquote

blockquote {
  margin-left: 1rem;
  padding-left: .75rem;
  border-left: .25rem solid $body-color;

  p, cite {
    font-style: italic;
    @include small();
  }
}

// Figure

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  color: lighten($body-color, 17%);
  font-size: $small-font-size;
}

a:hover img {
  opacity: .7;
}

// Gutenberg

.wp-block-group,
.wp-block-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// locationibility

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
