// Footer

#footer {
  padding: 6rem 1rem;
  @include background("primary");
  color: #ffffff;

  @media (min-width: breakpoint("lg")) {
    text-align: center;
  }

  .container {
    max-width: map-get($container-max-widths, "md");
  }

  .row {
    justify-content: space-around;
  }
}

#footer-content-1 {
  @include col("md", 6);
}

#footer-content-2 {
  @include col("md", 4);
}

#footer-brand {
  margin-bottom: 6rem;

  img {
    width: 24rem;
  }
}

#footer-social-btns {
  margin: 3rem;
  text-align: left;

  li {
    display: inline-block;
    margin: 0 .25rem;
  }

  img {
    width: 2rem;
  }
}

#footer-nav {
  margin-bottom: 2rem;

  #menu-primary {
    @include list-unstyled();
    font-size: 87.5%;
    text-align: left;
  }

  li {
    margin-bottom: .75rem;
    letter-spacing: .04rem;;
  }

  a {
    color: lighten(#000000, 95%);

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}

#footer-copyright {
  color: lighten(#000000, 95%);
}
