// Front - About

#front-about {
  .about {
    align-items: center;
    justify-content: space-around;
  }

  .featured-image,
  .about-intro {
    @include col("lg", 5);
    margin-bottom: 2rem;
  }

  .about-intro-text {
    margin-bottom: 2rem;
    text-align: justify;
  }

  .about-intro-btn {
    @include button("lg");
  }
}
