// Front - Plan

#front-plan {
  .front-sec-heading {
    span:first-of-type {
      letter-spacing: 0;
    }
  
    span:last-of-type {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .slider-item {
    padding: 0 3rem;
  }

  .slider-caption {
    width: 100%;
    max-width: 24rem;
    margin: 3rem auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;

    &::before {
      content: "";
      display: block;
      height: 3rem;
      background: url("assets/svg/plan_dec_reverse.svg") no-repeat center center / contain scroll;
    }

    &::after {
      content: "";
      display: block;
      height: 3rem;
      background: url("assets/svg/plan_dec.svg") no-repeat center center / contain scroll;
    }
  }
}

.plan-person {
  margin-bottom: .5rem;
  color: theme-color("primary");
}

.plan-title {
  margin-bottom: .5rem;
}

.plan-all {
  display: inline-block;
  margin-bottom: 3rem;
}
