// Front - News

#front-news {
  .container>.row {
    justify-content: space-around;
  }

  .news {
    @include col("md", 5);
  }

  .featured-image {
    @supports (object-fit: cover) {
      img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
      }
    }
  }

  .news-intro-title {
    font-size: 1.25rem;
    text-align: justify;
  }

  .news-intro-description {
    text-align: justify;
  }
}
