// Header

#hero {
  @include cover-unit();
  @include background("dark");
}

#hero-content {
  @include cover-section();
}

#site-header {
  @include sticky-top();
  @include background("light");
}

#page-header {
  text-align: center;
}

#page-title {
  margin: 3rem 0;
  font-size: 2rem;
}

#cover-image {
  @include cover-image(none, blur(4px));
}
