// Index main

#index #main {
  &> section:not(#access) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;

    &:not(#gallery) {
      &:nth-child(odd) {
        background-color: gray(850);
      }

      &:nth-child(even) {
        background-color: $body-bg;
      }
    }
  }

  h2 {
    margin-bottom: 6rem;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}
