// Info main

#archive-info {
  .container>.row {
    justify-content: space-around;
  }

  .info {
    max-width: 42rem;
    margin: 0 auto 3rem;
  }

  .post {
    max-width: 42rem;
    margin: 0 auto 3rem;
    padding-left: .5rem;
    padding-right: .5rem;

    p {
      margin: 0;
      @include small($small-font-size, 1.5);
    }
  }

  .post-inner {
    @include row();
    padding: 1rem 0;
    background: theme-color("light");
  }

  .post-intro {
    @include col("md", 6);
    padding: 0 1rem;

    @media (min-width: breakpoint("md")) {
      order: 2;
    }
  }

  .post-title {
    margin: 0 0 1rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
  }

  .post-excerpt {
    margin-bottom: .5rem;
  }

  .featured-image {
    @include image-clip();
    @include col("md", 6);
    height: 12rem;
    padding: 0 1rem;

    @media (min-width: breakpoint("md")) {
      order: 1;
    }

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }
  }

  .info .featured-image img {
    object-fit: contain;
  }
}

.info-cats {
  @include list-unstyled();

  li {
    margin-bottom: 1rem;

    span {
      text-transform: uppercase;
      letter-spacing: .08rem;
    }

    &:nth-child(6) {
      margin-bottom: 1.5rem;
    }
  }
}
