// Nav

#brand-home {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: .75rem;

  img {
    width: 13.5rem; // height: 4.5rem
  }

  @media (min-width: breakpoint("lg")) {
    display: block;
  }
}

#nav-toggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: block;
  margin: .75rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 1;
  outline: 0;
  cursor: pointer;

  img {
    width: 4.5rem;
  }
}
