// Nav

#header-nav {
  @include sticky-top();
  background: rgba($body-bg, .7);
}

#header-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(min-width: breakpoint("lg")) {
    justify-content: center;
  }
  
  .nav-menu {
    display: none;
    margin: 0;
    @include list-unstyled;

    @media(min-width: breakpoint("lg")) {
      display: inline-block;
    }
  }

  .nav-brand,
  .nav-menu li {
    display: inline-block;
    height: 3rem;
    margin: 0 1rem;
    line-height: 3rem;
    vertical-align: middle;
    text-transform: capitalize;

    a {
      color: $body-color;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }
    }

    img {
      width: auto;
      height: 2rem;
      margin: .5rem;
    }
  }
}

#nav-toggler {
  display: inline-block;
  height: 3rem;
  margin: 0 .5rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $body-color;
  line-height: 1;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
  }

  @media(min-width: breakpoint("lg")) {
    display: none;
  }
}

#footer-nav {
  margin-bottom: 3rem;

  .nav-brand {
    height: 3rem;
    padding-left: 1rem;
    line-height: 3rem;

    img {
      margin-left: -1rem;
    }
  }

  .nav-menu {
    margin: 0;
    padding-left: 1rem;
    list-style: none;

    li {
      height: 2rem;
      line-height: 2rem;
    }
  }

  .nav-brand,
  .nav-menu li {
    vertical-align: middle;
    text-transform: capitalize;

    a {
      color: #ffffff;

      &:hover {
        color: $link-hover-color;
      }
    }
  
    img {
      width: auto;
      height: 2rem;
    }
  }

  @media(min-width: breakpoint("lg")) {
    #footer-nav-bar > div,
    .nav-menu {
      display: inline-block;
      padding: 0;
    }

    .nav-brand,
    .nav-menu li {
      display: inline-block;
      height: 3rem;
      margin: 0 1rem;
      line-height: 3rem;

      img {
        margin: .5rem;
      } 
    }
  }
}
