// News

#news {
  .news {
    margin-bottom: 1rem;
  }

  .featured-image {
    @include col("lg", 3);

    a:hover img {
      opacity: .7;
    }
  }

  .news-intro {
    @include col("lg", 8); // Match the width of the "md" size
  }

  .news-intro-container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
  }

  .news-intro-inner {
    padding: .5rem 1.5rem;
    text-align: left;
  }

  .news-intro-date {
    margin-top: .75rem;
    margin-bottom: .75rem;
    line-height: 1; // Make 2.5rem height by margin and line-height
  }

  .news-intro-heading {
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.25; // Make 2.5rem height by margin, font-size and line-height
    vertical-align: bottom;
  }

  .news-intro-terms {
    display: inline-block;
    margin-bottom: 0;
    @include list-unstyled();
    vertical-align: bottom;

    li {
      display: inline-block;
      margin-bottom: 0;
    }

    a {
      @include button("sm", "light");
      font-size: 1rem;
      line-height: 1.25; // Make 2.5rem height by button mixin and line-height
    }
  }

  .news-intro-text {
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem; // Match the inner top with the margin
    text-align: justify;
  }
}
