// Page main

.page-sec {
  margin: 6rem 0;
  justify-content: center;
  align-items: center;

  .primary-col, .secondary-col {
    @include col("lg", 6);
  }

  &:nth-child(odd) {
    .primary-col {
      order: 2;
    }

    .secondary-col {
      order: 1;
    }
  }

  &:nth-child(even) {
    .primary-col {
      order: 1;
    }

    .secondary-col {
      order: 2;
    }
  }
}

