// Plan main

#archive-plan, #plan {
  background-color: theme-color("primary-light");
}

#front-plan,
#archive-plan {
  .container>.row {
    align-items: center;
    justify-content: space-around;
  }

  .plan-intro {
    @include col("lg", 10);
    margin-bottom: 3rem;
    text-align: center;
  }

  .post {
    @include col("lg", 5);
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .post-title {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    line-height: $line-height-base;
  }

  .plan-title {
    font-weight: 700;
  }

  .featured-image {
    width: 85%;
    margin: auto;
  }
}

.plan-header {
  @include row();
  justify-content: space-around;

  .plan-title-wrap {
    position: relative;
    order: 2;
    width: 100%;
    max-width: 24rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }

  .plan-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .plan-author {
    display: block;
    @include col();
    color: theme-color("primary");
    line-height: $line-height-base;
  }

  .plan-title {
    display: block;
    @include col();
    margin: auto;

    &::before {
      content: "";
      display: block;
      height: 3rem;
      background: url("assets/svg/plan_dec_reverse.svg") no-repeat center center / contain scroll;
    }

    &::after {
      content: "";
      display: block;
      height: 3rem;
      background: url("assets/svg/plan_dec.svg") no-repeat center center / contain scroll;
    }
  }

  .featured-image {
    position: relative;
    order: 1;
    max-width: 18rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
}

.plan-body {
  @include row();
  justify-content: center;
}

.plan-excerpt {
  @include col();
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.plan-content {
  @include col();

  &>.wp-block-group {
    &>.wp-block-group__inner-container {
      @include row();
      //align-items: center;
      justify-content: space-around;

      &>.wp-block-group,     
      &>.wp-block-image,
      &>p {
        position: relative;
        width: 100%;
        max-width: 22.5rem;
        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    &:not(:last-child)::after {
      content: "";
      display: block;
      height: 3rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      background: url("assets/svg/plan_section.svg") no-repeat center center / contain scroll;
    }
  }

  h3 {
    margin-top: 0;
    padding: .75rem;
    border-radius: .75rem;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    @include background("primary");
  }
}

.plan-member {
  @include col();
}

.member-title {
  width: 24rem;
  max-width: 100%;
  margin: 4.5rem auto;
  color: theme-color("primary");
  font-size: 1.5rem;
  line-height: $line-height-base;
  text-align: center;

  span:first-child {
    font-size: 1rem;
  }

  &::after {
    content: "";
    display: block;
    height: 3rem;
    background: url("assets/svg/plan_dec.svg") no-repeat center center / contain scroll;
  }
}

.member-content {
  margin-top: 3rem;
  margin-bottom: 3rem;

  dt {
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: theme-color("secondary");
  }

  dt, dd {
    line-height: $line-height-base;
  }
}
