// Post main

#post,
#info,
#archive,
#archive-info {
  .row {
    justify-content: space-between;
  }

  .primary-col {
    @include col("lg", 9);
  }
  
  .secondary-col {
    @include col("lg", 3);
    padding-left: 3rem;
  }
}

#umitan,
#plan,
#column,
#photo,
#archive-umitan,
#archive-plan,
#archive-column,
#archive-photo {
  .row {
    justify-content: center;
  }

  .primary-col {
    @include col("lg", 10);
  }
}

#post,
#umitan,
#info,
#plan,
#column,
#photo,
#archive {  
  .post {
    margin-bottom: 6rem;
    text-align: justify;
  }

  .post-date {
    margin-bottom: 1rem;
  }

  .post-date {
    margin-bottom: 1rem;
  }

  .post-title {
    font-size: 1.5rem;
    line-height: 1;
  }

  .post-title, .featured-image, .post-content, .post-excerpt {
    margin-bottom: 2rem;
  }

  .table {
    @include table();
  }
}

.post-excerpt img {
  margin-top: 1rem;
}

// Specify background color to be detected by script

#header, #main {
  background: #ffffff;
}

#index, #umitan, #archive-umitan {
  #header, #main {
    background-color: transparent;
  }
}

#plan, #archive-plan {
  #header, #main {
    background-color: theme-color("primary-light");
  }
}

// Information table

.information-heading {
  margin-top: 2rem;
  font-weight: bolder;
  letter-spacing: .25rem;
}

.pic-information {
  @include table();
  margin-bottom: 3rem;
}
