// Post main

#post,
#photo,
#archive,
#archive-photo {
  .row {
    justify-content: space-between;
  }

  .primary-col {
    @include col("lg", 8);
  }
  
  .secondary-col {
    @include col("lg", 3);
  }
  
  .post {
    margin-bottom: 6rem;
  }

  .post-title {
    font-size: 1.5rem;
  }

  .featured-image {
    text-align: center;
  }

  .post-title, .featured-image, .post-content {
    margin-bottom: 2rem;
  }
}
