// umitan - Main

#umitan, #archive-umitan {
  background-color: theme-color("primary");

  .umitan-icons {
    @include col();

    .row {
      @include list-unstyled();
    }
  }
}

.umitan-icon {
  @include col("sm", 4);
  @include col("md", 2);
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem
}

.umitan {
  display: flex;
  @include col("sm", "auto");
  margin-bottom: 2rem;
}

.umitan-inner {
  position: relative;
  width: 21.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem;
  background: #ffffff;
  text-align: left;
  line-height: 1.5;

  .featured-image {
    @include image-clip();
    height: 15rem; // The aspect ratio is 4 : 3
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
  }

  @media (min-width: breakpoint("lg")) {
    width: 17.5rem;

    .featured-image {
      height: 12rem;

      img {
        height: 12rem;
      }
    }
  }
}

.umitan-eventdate {
  margin: 0;
  color: #ff584f;
}

.umitan-title {
  margin: 0;
  font-size: 1rem;
}

.umitan-subtitle {
  margin: 0;;
  //color: theme-color("primary");
}

.umitan-excerpt {
  margin: 1rem 0 .25rem;
  font-size: 87.5%;
}

.umitan-terms {
  position: absolute;
  top: 0;
  left: 0;
  @include list-unstyled();
  margin: .375rem;

  li {
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
  }
}

.umitan-table {
  @include table();
  margin-bottom: 2rem;
  text-align: left;

  td:first-child {
    width: 9rem;
    padding-left: 1rem;
  }
}

#umitan .post-title {
  span {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: $line-height-base;
  }
}

.btn-booking {
  margin: 3rem auto 6rem;
  text-align: center;

  a {
    @include button("lg");
  }
}
