// Widget

.search-form {
  position: relative;

  label {
    display: block;
    line-height: $line-height-base;
  }
}

.search-field {
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid gray(700);
  font-size: $small-font-size;
}

.search-submit {
  position: absolute;
  top: .25rem;
  right: .25rem;
  bottom: .25rem;
  font-size: $small-font-size;
  @include button();
}

.widget {
  margin-bottom: 3rem;

  .widget-title {
    border: 0;
    font-size: 1rem;
  }

  ul {
    @include list-unstyled();
  }

  li {
    margin-bottom: .75rem;
  }
}
