// Table

@mixin table() {
  width: 100%;

  thead {
    border: 0; // Reset
  }

  tr {
    border-bottom: 1px solid var(--wp--preset--color--medium-light);

    &:first-child {
      border-top: 1px solid var(--wp--preset--color--medium-light);
    }
  }

  th, td {
    padding-top: .625rem;
    padding-bottom: .625rem;
    border: 0; // Reset
    @include smallText();
  }
}
