/**
 * Utility - Button
 */

.btn {
  @include button();

  &.--sm {
    padding: .625rem 1.25rem;
  }

  &.--md {
    padding: .625rem 2.5rem;
  }

  &.--lg {
    padding: .75rem 3rem;
  }

  &.--rounded {
    &_sm {
      border-radius: .375rem;
    }
    
    &_md {
      border-radius: .75rem;
    }
    
    &_lg {
      border-radius: 2.25rem;
    }
  }

  //@each $key, $color in $themeColors {
  @each $key, $color in $originalColors {
    &.--#{$key} {
      //$color: themeColor($key);
      //background-color: $color;
      //color: colorYiq($color);
      background-color: originalColor($key);
      color: colorYiqByKey($key);
      opacity: .85;
      
      &:hover {
        //background-color: lighten($color, 7.5%);
        //color: colorYiq(lighten($color, 7.5%));
        opacity: 1;
      }
    }
  }
}
