/**
 * Utility - Grid
 */

.grid {
  padding-left: .75rem;
  padding-right: .75rem;

  & > * {
    @include row();
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  &.--center {
    & > * {
      justify-content: center;
    }

    &_lg > * {
      @media (min-width: breakpoint("lg")) {
        justify-content: center;
      }
    }
  }

  &.--left {
    & > * {
      justify-content: flex-start;
    }

    &_lg > * {
      @media (min-width: breakpoint("lg")) {
        justify-content:flex-start;
      }
    }
  }

  &.--right {
    & > * {
      justify-content: flex-end;
    }

    &_lg > * {
      @media (min-width: breakpoint("lg")) {
        justify-content: flex-end;
      }
    }
  }

  &.--top {
    & > * {
      align-items: flex-start;
    }

    &_lg > * {
      @media (min-width: breakpoint("lg")) {
        align-items: flex-start;
      }
    }
  }

  &.--expand {
    @media (max-width: breakpoint("sm") - 1) {
      width: 108%;
      margin-left: -4%;
      margin-right: -4%;
    }
  }

  @for $i from 2 through 12 {
    &__#{$i} {
      @include col();
      padding-left: .75rem;
      padding-right: .75rem;
      
      @if ($i == 2) {
        @include col("sm", 6);
      }

      @if ($i == 3) {
        @include col("md", 6);
      }
      
      @include col("lg", $i);
    }
  }

  @for $i from 1 through 6 {
    .--order_#{$i} {
      @media (min-width: breakpoint("lg")) {
        order: $i;
      }
    }
  }
}
