/**
 * Utility - More text
 */

.section {
  &.--hero .post__moreText::after {
    content: var(--hero-more-text, $sectionMoreText);
  }

  &.--about .post__moreText::after {
    content: var(--about-more-text, $sectionMoreText);
  }

  &.--pickup .post__moreText::after {
    content: var(--post-more-text, $sectionMoreText);
  }

  &.--model-plan .section__moreText::after {
    content: var(--model-plan-more-text, $sectionMoreText);
  }

  &.--blog-and-news .section__moreText::after {
    content: var(--blog-and-news-more-text, $sectionMoreText);
  }

  &.--blog-and-news .post__moreText::after {
    content: var(--blog-and-news-item-more-text, $cardsItemMoreText);
  }
}

.archive .post__moreText::after {
  content: var(--blog-and-news-item-more-text, $listItemMoreText);
}
