/**
 * Utility - More text
 */

.section {
  &.--hero .post__moreText::after {
    content: var(--hero-more-text, $sectionMoreText);
  }

  &.--feature .section__moreText::after {
    content: var(--feature-more-text, $sectionMoreText);
  }

  &.--about .post__moreText::after {
    content: var(--about-more-text, $sectionMoreText);
  }

  &.--model-plan .section__moreText::after {
    content: var(--plan-more-text, $sectionMoreText);
  }

  &.--blog-and-news .section__moreText::after {
    content: var(--news-more-text, $sectionMoreText);
  }

  &.--blog-and-news .post__moreText::after {
    content: var(--news-item-more-text, $cardsItemMoreText);
  }
}

.archive .post__moreText::after {
  content: var(--news-item-more-text, $listItemMoreText);
}
