/**
 * Utility - Type
 */

$typeProps: (
  left:    left,
  center:  center,
  right:   right,
  justify: justify
);

@each $prop, $val in $typeProps {
  .--text_#{$prop} {
    text-align: $val !important;
  }
}
