// Calendar

.calendar_wrap {
  caption {
    height: 3rem; // 見出し扱い
    font-size: var(--nr-font-size, 1rem);
    text-align: left;
    line-height: 3rem;
  }

  th {
    text-align: center;
  }

  td {
    color: themeColor("dark"); // 記事が無ければグレーアウト
    text-align: center;
  }

  th, td {
    &:last-child {
      color: themeColor("secondary"); // 日曜は色を入れる
    }
  }

  a {
    display: block;
    font-weight: bold; // 目立つように
  }

  #today a {
    @include background("primary");
  }
}
