// Sub Menu

.menu-item-has-children {
  position: relative;

  button {
    position: absolute;
    top: .75rem;
    right: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    padding: 0;
    border: 0;
    border-radius: .375rem;

    &.--active {
      transform: rotate(180deg);
    }
  }
}

.sub-menu {
  height: 0;
  overflow: hidden;

  &:not(.--collapse) {
    height: auto;
  }
}
