// Buttons

@mixin button($size: "sm", $key-color: "primary", $background: theme-color($key-color), $hover-background: darken($background, 7.5%)) {
  display: inline-block;
  @if ($size == "sm") {
    padding: 0.25rem 1rem;
  } @else if ($size == "md") {
    padding: 0.25rem 4rem;
  } @else if ($size == "lg") {
    padding: 0.375rem 6rem;
  }
  border: none;
  background-color: $background;
  color: color-yiq($background);
  text-decoration: none;
  text-align: center;
  outline: 0;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-background;
    color: color-yiq($hover-background);
    text-decoration: none;
  }
}
