// Forms

@mixin form() {
  @include container-base();
  max-width: 600px;
  text-align: left;

  label {
    display: block;
  }

  input[type="text"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="file"], select, optgroup, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 4px;
    padding-right: 4px;
  }

  input[type="text"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="file"], select, optgroup {
    height: calc(#{$font-size-base * $line-height-base} + 6px);
  }

  input[type="file"] {
    outline: 0;  
  }

  textarea {
    resize: vertical;
  }

  [type="button"], [type="reset"], [type="submit"] {
    @include button("lg", "primary");
    display: block;
    margin: auto;
  }
}
