// Pagination

@mixin pagination() {
  margin-bottom: 2rem;
  @include list-unstyled;
  text-align: center;

  li {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
  }

  .page-prev {
    margin-right: 3rem;
  }

  .page-next {
    margin-left: 3rem;
  }

  .page-active {
    padding: 1rem;
    @include background("primary-dark");
  }

  .page-joint {
    padding: 1rem;
    @include background("primary");
  }

  a {
    @include button("sm", "primary");
    padding: 1rem;
  }
}
