/**
 * Utility - Flex Item
 */

.--flex-item {
  @for $i from 1 through 12 {
    &_#{$i} {
      flex: #{$i} 1 #{containerWidth($i)};
    }
  }

  @for $i from 0 through 3 {
    &_order-#{$i} {
      order: $i;
    }
  }

  @for $i from 0 through 3 {
    @media (min-width: breakpoint("sm")) {
      &_order-sm-#{$i} {
        order: $i;
      }
    }
  }

  @for $i from 0 through 3 {
    @media (min-width: breakpoint("md")) {
      &_order-md-#{$i} {
        order: $i;
      }
    }
  }

  @for $i from 0 through 3 {
    @media (min-width: breakpoint("lg")) {
      &_order-lg-#{$i} {
        order: $i;
      }
    }
  }
}
