/**
 * Utility - Flex
 */

$justify-content-values: (
  left:    flex-start,
  center:  center,
  right:   flex-end,
  around:  space-around,
  between: space-between
);

$align-items-values: (
  top:     flex-start,
  stretch: stretch
);

$gap-values: (
  none:    0,
  x-small: var(--wp--custom--spacing--x-small),
  small:   var(--wp--custom--spacing--small),
  medium:  var(--wp--custom--spacing--medium),
  large:   var(--wp--custom--spacing--large),
  x-large: var(--wp--custom--spacing--x-large)
);

.--flex {
  @each $key, $value in $justify-content-values {
    &_#{$key} {
      justify-content: $value !important;
    }
  }

  @each $key, $value in $align-items-values {
    &_#{$key} {
      align-items: $value !important;
    }
  }

  @media (min-width: breakpoint("sm")) {
    @each $key, $value in $justify-content-values {
      &_sm-#{$key} {
        justify-content: $value !important;
      }
    }

    @each $key, $value in $align-items-values {
      &_sm-#{$key} {
        align-items: $value !important;
      }
    }
  }

  @media (min-width: breakpoint("md")) {
    @each $key, $value in $justify-content-values {
      &_md-#{$key} {
        justify-content: $value !important;
      }
    }

    @each $key, $value in $align-items-values {
      &_md-#{$key} {
        align-items: $value !important;
      }
    }
  }

  @media (min-width: breakpoint("lg")) {
    @each $key, $value in $justify-content-values {
      &_lg-#{$key} {
        justify-content: $value !important;
      }
    }

    @each $key, $value in $align-items-values {
      &_lg-#{$key} {
        align-items: $value !important;
      }
    }
  }

  @each $key, $value in $gap-values {
    &_gap-#{$key} {
      gap: $value !important;
    }
  }
}