/* Layout Article
------------------------------*/

.article {
  margin-bottom: 6rem;

  &__date {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
    text-align: center;
  }
}
