/* Layout Article
------------------------------*/

.article {
  &:only-child {
    margin-bottom: 6rem;
  }

  &__date {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;

    &--umitan {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      
      span {
        font-weight: bold;
        font-size: 1.17rem;
      }
    }
  }

  &__border {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
    text-align: center;

    a:hover img {
      opacity: .7;
    }
  }

  &--about {
    @include row();
    margin-bottom: 6rem;
    padding-left: .5rem;
    padding-right: .5rem;
    justify-content: space-around;
    align-items: center;

    &__copy {
      @include col("lg", 12);

      img {
        width: 30rem;
      }
    }

    %__paragraph {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: justify;

      @media (min-width: breakpoint("lg")) {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }

    &__paragraph {
      @extend %__paragraph;

      &--num_1 {
        @extend %__paragraph;
        @include col("lg", 5);

        p {
          letter-spacing: 0.04rem;
        }

        img {
          width: 25rem;

          @media (max-width: breakpoint("lg") - 1) {
            display: none;
          }
        }
      }

      &--num_2 {
        @extend %__paragraph;
        @include col("lg", 5);

        img {
          width: 25rem;
          margin-top: 3rem;

          @media (max-width: breakpoint("lg") - 1) {
            display: none;
          }
        }
      }

      &--num_3 {
        @extend %__paragraph;
        @include col("lg", 6);

        img {
          width: 30rem
        }
      }
    }

    &__logo {
      @include col("lg", 5);

      img {
        width: 25rem;
      }
    }

    &__map {
      @include col("lg", 6);

      img {
        width: 30rem
      }
    }

    &__landscape {
      @include col("lg", 6);

      img {
        width: 30rem
      }
    }

    &__members {
      @include col("lg", 12); 
      
      img {
        width: 60rem
      }
    }
  }

  &--summary {
    @include row();
    margin-bottom: 3rem;
    justify-content: space-around;
    align-items: center;

    &__copy {
      @include col("lg", 12);

      &>div {
        @include row();

        figure {
          &:nth-child(1) {
            @include col("md", 6);
            order: 2;
      
            img {
              width: 30rem;
            }
          }
      
          &:nth-child(2) {
            display: none;
            order: 1;
      
            @media (min-width: breakpoint("md")) {
              display: block;
            }
      
            @include col("md", 3);
          }
      
          &:nth-child(3) {
            display: none;
            order: 3;
      
            @media (min-width: breakpoint("md")) {
              display: block;
            }
      
            @include col("md", 3);
          }
        }
      }
    }

    &__map {
      @include col("md", 8);
      @include col("lg", 6);
    }

    &__paragraph {
      @include col("lg", 9);
      margin-bottom: 3rem;
    }
  }

  &--summary-child {
    @include row();
    margin-bottom: 3rem;
    justify-content: center;

    &__image, &__content {
      @include col("md", "auto");

      @media (min-width: breakpoint("md")) {
        width: 22.5rem;
        max-width: 100%;
      }
    }

    &__image {
      text-align: center;
    }

    &__content {
      @media (min-width: breakpoint("lg")) {
        margin-left: 3rem;
      }
    }
  }

  &--plan {
    &__header {
      @include row();
      justify-content: space-around;
    }

    &__title-wrap {
      position: relative;
      order: 2;
      width: 100%;
      max-width: 24rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-align: center;
    }
    
    &__title-inner {
      display: flex;
      flex-wrap: wrap;
    }
    
    &__person {
      display: block;
      @include col();
      color: theme-color("primary");
      line-height: $line-height-base;
    }
  
    &__title {
      display: block;
      @include col();
      margin: auto;
  
      &::before {
        content: "";
        display: block;
        height: 3rem;
        background: url("assets/svg/plan_dec_reverse.svg") no-repeat center center / contain scroll;
      }
  
      &::after {
        content: "";
        display: block;
        height: 3rem;
        background: url("assets/svg/plan_dec.svg") no-repeat center center / contain scroll;
      }
    }
    
    &__image {
      position: relative;
      order: 1;
      max-width: 18rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-align: center;
    }
    
    &__main {
      @include row();
      justify-content: center;
    }
    
    &__excerpt {
      @include col();
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }
    
    &__content {
      @include col();
    
      &>.plan-spot {
        &>div {
          @include row();
          //align-items: center;
          justify-content: space-around;
    
          &>.wp-block-group,     
          &>.wp-block-image,
          &>p {
            position: relative;
            width: 100%;
            max-width: 22.5rem;
            margin: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
          }
        }
    
        &:not(:last-child)::after {
          content: "";
          display: block;
          height: 3rem;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          background: url("assets/svg/plan_section.svg") no-repeat center center / contain scroll;
        }
      }
    
      h3 {
        margin-top: 0;
        padding: .75rem;
        border-radius: .75rem;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        @include background("primary");
      }
    }
    
    &__member {
      @include col();
    }
  }
}
