/* Layout Footer nav
------------------------------*/

.footer-nav {
  margin-bottom: 3rem;
}

%footer-nav-item {
  height: 3rem;
  margin-bottom: -.5rem;
  line-height: 3rem;
  vertical-align: middle;
  text-transform: capitalize;

  a {
    color: #ffffff;

    &:hover {
      color: $link-hover-color;
    }
  }

  @media(min-width: breakpoint("lg")) {
    display: inline-block;
    margin: 0 1rem;
  }
}

.footer-nav-brand {
  padding-left: 1rem;
  @extend %footer-nav-item;
}

.footer-nav-menu {
  margin: 0;
  padding-left: 1rem;
  list-style: none;

  @media(min-width: breakpoint("lg")) {
    display: inline-block;
    padding: 0;
  }

  .menu-item {
    @extend %footer-nav-item;
  }
}
