/**
 * Layout - G Nav
 */

.gNav {
  height: 100%;
  
  &__container {
    @include container();
    @include row(space-between);
    height: 100%;
  }

  &__siteBrand {
    flex: 0 1 9rem;
    margin: 0;
    line-height: 1;
  }

  &__primaryMenu {
    @include row();
    @include listUnstyled();
    flex: 0 1 36rem;
    margin: 0;
  }

  &__socialMenu {
    @include row();
    @include listUnstyled();
    flex: 0 1 9rem;
    margin: 0;
  }

  &__menuItem {
    margin: 0;
    line-height: 1;

    a {
      color: $bodyColor;

      &:hover {
        color: $linkHoverColor;
      }
    }
  }
}
