/**
 * Layout - G Nav
 */

.gNav {
  &__primaryMenu {
    @media (max-width: breakpoint() - 1) {
      display: none !important;
    }
  }

  &__socialMenu {
    @media (max-width: breakpoint() - 1) {
      display: none !important;
    }
  }
}
