/**
 * Layout - Header
 */

$headerHeight: 4.5rem;

.header {
  height: $headerHeight;

  &__inner {
    height: 100%;
    background-color: $bodyBg;
  }

  &__container {
    @include container();
    height: 100%;
  }
}
