/**
 * Layout - Main
 */

.main {
  padding-top: 6rem; // header height
  padding-bottom: 3rem;

  &__header {
    // 背景色検知用
    background-color: var(--wp--preset--color--white);
  }

  &__titleArea {
    @extend %__titleArea;
  }

  &__title {
    @extend %__title;
  }

  &__titleText {
    @extend %__titleText;
  }

  &__body {
    background-color: var(--wp--preset--color--white);
  }
}
