/**
 * Layout - Sidebar
 */

.sidebar {
  position: relative;
  width: 100%;

  @media (min-width: breakpoint("lg")) {
    flex: 0 0 map-get($cardWidths, "sm");
    max-width: map-get($cardWidths, "sm");
  }
}
