/**
 * Layout - Title Area
 */

.titleArea {
  &__container {
    @include container();
    @include row(flex-start);
    height: 33.33vh;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: themeColor("lightest");
    font-weight: bold;
    font-size: $h1FontSize;
    text-transform: capitalize;
  }
}
