/* Component Breadcrumb
------------------------------*/

.breadcrumb {
  @include container();

  &__items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include list-unstyled();
  }

  &__item {
    display: inline-block;
    text-transform: capitalize;

    &:not(:first-child)::before {
      padding: 0 .5rem;
      content: ">";
    }
  }
}
