/* Component Cards
------------------------------*/

.cards {
  @include row();
  justify-content: space-around;

  &__item {
    @include col("sm", "auto");
    margin-bottom: 2rem;
    text-align: center;
  }

  &__imagebox {
    display: block;
    padding: .25rem;
    border: 1px solid gray(700);

    &:hover {
      opacity: .7;
    }
  }

  &__image img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
  }

  &__title {
    margin: 1rem auto;
  }
}
