/* Component Cards
------------------------------*/

.cards {
  @include container();

  &__container {
    @include row();
    justify-content: space-around;
  }

  &__item {
    display: flex;
    @include col("sm", "auto");
    margin-bottom: 2rem;
  }

  &__contentbox {
    position: relative;
    width: 21.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .75rem;
    background: #ffffff;
    text-align: left;
    line-height: 1.5;

    @media (min-width: breakpoint("lg")) {
      width: 17.5rem;
    }
  }

  &__image {
    height: 15rem; // The aspect ratio is 4 : 3
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }

    @media (min-width: breakpoint("lg")) {
      height: 12rem;

      img {
        height: 12rem;
      }
    }
  }

  &__eventdate {
    margin: 0;
    color: #ff584f;
  }
  
  &__title {
    margin: 0;
    font-size: 1rem;
  }
  
  &__subtitle {
    margin: 0;;
    //color: theme-color("primary");
  }
  
  &__excerpt {
    margin: 1rem 0 .25rem;
    font-size: 87.5%;
  }
  
  &__terms {
    position: absolute;
    top: 0;
    left: 0;
    @include list-unstyled();
    margin: .375rem;
  }
  
  &__term {
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
  }
}
