/* Component Gallery
------------------------------*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  @include list-unstyled();
  justify-content: center;

  @media(min-width: map-get($grid-breakpoints, "lg")) {
    height: 30rem; // Twice the item height
    overflow: hidden;   
  }

  &__item {
    width: 31.25vw;
    max-width: 18rem;
    height: 31.25vw;
    max-height: 18rem;
    margin-bottom: 0;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    overflow: hidden;

    img {
      width: 100%;
    }

    a:hover > img {
      opacity: .7;
    }

    @media(min-width: map-get($grid-breakpoints, "lg")) {
      width: 15rem;
      height: 15rem; // Customized
    }
  }
}
