/* Component Preloader
------------------------------*/

$spinner-width: 48px !default;
$spinner-bars-count: 12 !default;
$spinner-bars-bg: $body-color !default;

@mixin make-spinner-bars($width: $spinner-width, $bars-count: $spinner-bars-count, $bars-bg: $spinner-bars-bg) {
  &>span {
    position: absolute;
    top: $width * 9 / 24;
    left: $width * 11 / 24;
    display: block;
    width: $width * 2 / 24;
    height: $width * 6 / 24;
    border-radius: $width * 1 / 24;
  
    @for $i from 1 through $bars-count {
      &:nth-child(#{$i}) {
        background-color: rgba($bars-bg, $i / ($bars-count + 2));
        transform: rotate(#{($i - 1) * 360 / $bars-count}deg) translate(0, #{$width * 8 / 24})
      }
    }
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: $body-bg;
  opacity: 1;
  transition: opacity ease-in-out .5s;

  &:not(.show) {
    opacity: 0;
  }
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $spinner-width;
  height: $spinner-width;
  margin: auto;
  @include make-spinner-bars;
}
