/* Component Slider
------------------------------*/

%slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  &--size_sm {
    @extend %slider;
    height: 66.66vmin;
    max-height: 24rem;
  }

  &--size_md {
    @extend %slider;
    height: 75vmin;
    max-height: 30rem;
  }

  &--size_lg {
    @extend %slider;
    height: 83.33vmin;
    max-height: 36rem;
  }

  &__inner {
    display: flex;
    height: 100%;
    align-items: center;
    transform: translateX(0);
  }

  &__item {
    flex: 1 1 auto;
    order: 0;
    margin-bottom: 0;
    padding: 0 3rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.15s linear;
    
    &:not(.active) {
      opacity: .5;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    height: 4.5rem; // Icon size
    margin: auto;
    border: 0;
    background-color: transparent;
    color: $link-color;
    text-align: center;
    
    &:hover {
      color: $link-hover-color;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}
