<!-- wp:template-part {"slug":"header","theme":"discoverechizen","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","align":"wide","className":"main__header","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide main__header"><!-- wp:group {"align":"wide","className":"main__headerInner","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__headerInner"><!-- wp:group {"align":"wide","className":"main__headerContainer","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__headerContainer"><!-- wp:shortcode -->
[title title="越前海岸盛り上げ隊とは"]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:group {"tagName":"section","className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap"}} -->
<section class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_7 --flex-item_order-md-1"} -->
<div class="wp-block-group --flex-item_7 --flex-item_order-md-1"><!-- wp:image {"id":361,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://discoverechizen.com/data/uploads/members-720x400.jpg" alt="" class="wp-image-361"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"--flex-item_5 --flex-item_order-md-0"} -->
<div class="wp-block-group --flex-item_5 --flex-item_order-md-0"><!-- wp:paragraph -->
<p>越前海岸盛り上げ隊は、越前海岸の「いま」をできるだけ面白くしようと奮闘する大人たちのゆるやかな集まりです。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>会員名簿には、海鮮料理屋、旅館や民宿、クラゲ販売店、製粉屋、製塩所、林業家、ガラス作家、お坊さん、デザイナーやプログラマー、地域おこし協力隊など、30以上の事業所と個人が名を連ね、その時々でそれぞれにできることを差し出し合いながら、日々活動を続けています。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>エリアの観光振興マップづくりをはじめ、体験コンテンツの開発や地域の情報発信、移住者受け入れのコーディネートなど、人口減少の進むこの地域の暮らしを子どもたちにつないでいくために様々な取り組みを行なっています。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap"}} -->
<section class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_6 --flex-item_order-md-1","layout":{"type":"default"}} -->
<div class="wp-block-group --flex-item_6 --flex-item_order-md-1"><!-- wp:paragraph -->
<p>過疎化の波は大きいけれど、工夫次第でいかようにも乗りこなせるはず。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>「この村に生まれてよかった」</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>波を楽しむ大人たちの背中を見て、子どもたちがそう思ってくれたら最高。<br>そんなことを考えながら活動している私たちを見て、</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>「越前海岸、楽しそうじゃん！」</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>あなたがそう思ってくれたらもっと最高。<br>いつか、いつでも、仲間になってください。<br>越前海岸でお待ちしてます！</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"--flex-item_6 --flex-item_order-md-0","layout":{"type":"constrained"}} -->
<div class="wp-block-group --flex-item_6 --flex-item_order-md-0"><!-- wp:image {"id":235,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://discoverechizen.com/data/uploads/2020-06-15_image_08.jpg" alt="" class="wp-image-235"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:spacer {"height":"72px"} -->
<div style="height:72px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"section","className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap"}} -->
<section class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading -->
<h2>盛り上げ隊の立ち上げ</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>越前海岸盛り上げ隊発足のきっかけとなったのは、現隊長の長谷川渡と現副隊長の枩田卓也という二人の男たちの出会い。Uターンで地元に戻ってきた長谷川がガラス工房を開いたという噂を聞きつけ、枩田が挨拶に出向いたことをきっかけにつながった二人。以降、過疎化の進む越前海岸の未来について夕日を見ながら語り合う仲となります。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>そんなタイミングで行政（福井市）から「団体をつくってみないか？」と声かけがあったこともあり、旅館や飲食業を営む事業者を中心にメンバーを集め、「越前海岸盛り上げ隊」が産声をあげることになりました。2015年のことです。そこから今に至るまで、一人また一人と仲間を増やして活動を続けてきました。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"--flex-item_6 --text_center","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group --flex-item_6 --text_center"><!-- wp:image {"id":430,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_3"} -->
<figure class="wp-block-image size-medium --flex-item_3"><img src="https://discoverechizen.com/data/uploads/prt00-360x240.jpg" alt="" class="wp-image-430"/><figcaption class="wp-element-caption">隊長 長谷川渡</figcaption></figure>
<!-- /wp:image -->

<!-- wp:image {"id":431,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_3"} -->
<figure class="wp-block-image size-medium --flex-item_3"><img src="https://discoverechizen.com/data/uploads/prt01-360x240.jpg" alt="" class="wp-image-431"/><figcaption class="wp-element-caption">副隊長 枩田卓也</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"className":"grid --top"} -->
<div class="wp-block-group grid --top"><!-- wp:spacer {"height":"72px"} -->
<div style="height:72px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-group"><!-- wp:group {"className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_9"} -->
<div class="wp-block-group --flex-item_9"><!-- wp:heading -->
<h2>活動実績</h2>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3>マップづくり</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>越前海岸盛り上げ隊として一番初めに取り組んだのは、越前海岸エリアの観光振興マップの作成です。盛り上げ隊に加入する事業所を中心に、地域の見どころが一目でわかるマップをつくり、各事業所や福井県内各所に設置。マップの内容は毎年アップデートされ、常に越前海岸のフレッシュな情報をお届けするツールとして定着しています。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="/data/uploads/map2021.pdf" title="">&gt;&gt;&gt; 最新のとレジャーマップはこちら</a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":3} -->
<h3>WEBサイト運用</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>マップづくりと合わせて、エリアの情報を発信していくためにWEBサイトも立ち上げました。現在ご覧いただいているWEBサイトは大幅にリニューアルしたもの。盛り上げ隊広報部が中心となって、コンテンツの更新に取り組んでいます。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:image {"align":"center","id":432,"width":191,"height":540,"sizeSlug":"large","linkDestination":"none","className":"--flex-item_3"} -->
<figure class="wp-block-image aligncenter size-large is-resized --flex-item_3"><img src="https://discoverechizen.com/data/uploads/img_map-254x720.jpg" alt="" class="wp-image-432" width="191" height="540"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_8"} -->
<div class="wp-block-group --flex-item_8"><!-- wp:heading {"level":3} -->
<h3>体験コンテンツの開発</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>2017年頃から力を入れて取り組んできたのは、エリア内の体験コンテンツを増やしていくことでした。モノ消費からコト消費への転換を受けて、越前海岸の地域資源を生かした体験コンテンツの開発に着手。出来上がった体験コンテンツの総称は「海の体験博覧会」略して「うみたん」と名付け、2018年の夏から徐々に運用をスタート。ブラッシュアップを重ねながら、海・山・川での様々な体験を多くの方々に楽しんでもらっています。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"align":"center","id":359,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4"} -->
<figure class="wp-block-image aligncenter size-medium --flex-item_4"><img src="https://discoverechizen.com/data/uploads/main04-360x240.jpg" alt="" class="wp-image-359"/><figcaption class="wp-element-caption"> ナイトシュノーケル体験の様子</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_8"} -->
<div class="wp-block-group --flex-item_8"><!-- wp:heading {"level":3} -->
<h3>人の駅プロジェクト</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>当初は越前海岸エリアの観光振興を目的として立ち上がった団体でしたが、近年では地域内外の人々との多様な関係性の構築を図る「人の駅プロジェクト」にも力を入れています。それは、人々とのつながりこそがこの地域の暮らしを子どもたちにつないでいく鍵だと気づいたから。つながることから生まれる無限の可能性が、この地域にチャレンジの気運をもたらしてくれます。それぞれが大小様々なチャレンジを繰り返しながら、エリアの魅力を高めあっています。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="/feature/people-platform/" title="">&gt;&gt;&gt; 人の駅プロジェクトの詳細はこちら</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"align":"center","id":429,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4"} -->
<figure class="wp-block-image aligncenter size-medium --flex-item_4"><img src="https://discoverechizen.com/data/uploads/meeting01-360x240.jpg" alt="" class="wp-image-429"/><figcaption class="wp-element-caption">地域内外の交流を築く「人の駅プロジェクト」</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"--flex_gap-medium","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group --flex_gap-medium"><!-- wp:group {"className":"--flex-item_8"} -->
<div class="wp-block-group --flex-item_8"><!-- wp:heading {"level":3} -->
<h3>拠点の整備</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>人の駅プロジェクトを進めていくにあたり、2020年には念願の拠点整備にも着手。もともと鍼灸院を営んでいた「はりいしゃ」という屋号の空き家を改修し、越前海岸での滞在と交流の拠点として再生させました。改修資金の調達にあたってはCAMPFIREでのクラウドファンディングにも挑戦。目標金額の197%にあたる296万円を集め、調達を成功させました。「はりいしゃ」は、宿泊や滞在の拠点として、また交流やイベントの会場として活用を進めて行く予定です。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:image {"align":"center","id":235,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4"} -->
<figure class="wp-block-image aligncenter size-medium --flex-item_4"><img src="https://discoverechizen.com/data/uploads/2020-06-15_image_08-360x270.jpg" alt="" class="wp-image-235"/><figcaption class="wp-element-caption">古民家「はりいしゃ」を整備</figcaption></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:spacer {"height":"72px"} -->
<div style="height:72px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading -->
<h2 id="members">隊員プロフィール</h2>
<!-- /wp:heading -->

<!-- wp:cover {"dimRatio":30,"overlayColor":"primary-light","isDark":false,"className":"--profile"} -->
<div class="wp-block-cover is-light --profile"><span aria-hidden="true" class="wp-block-cover__background has-primary-light-background-color has-background-dim-30 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:block {"ref":4075} /--></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><a href="/feature/people-platform/" title="">&gt;&gt;&gt; クラウドファンディングの隊員メッセージはこちら</a></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></article>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"align":"wide"} -->
<h2 class="alignwide">関連記事</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"className":"postList","layout":{"inherit":true}} -->
<div class="wp-block-query postList"><!-- wp:post-template {"align":"wide","className":"postList__inner"} -->
<!-- wp:group {"className":"postItem"} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__container"} -->
<div class="wp-block-group postItem__container"><!-- wp:group {"align":"wide","className":"postItem__contentWrap","layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group alignwide postItem__contentWrap"><!-- wp:group {"align":"wide","className":"postItem__image --flex-item_4","layout":{"inherit":false}} -->
<div class="wp-block-group alignwide postItem__image --flex-item_4"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"","align":"center","style":{"spacing":{"padding":{"right":"0.75rem","left":"0.75rem"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content --flex-item_8","layout":{"inherit":false}} -->
<div class="wp-block-group postItem__content --flex-item_8"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d"} /-->

<!-- wp:post-terms {"term":"category","separator":""} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide"} /-->

<!-- wp:post-excerpt {"moreText":"&gt;&gt;&gt; もっと詳しく"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"discoverechizen","tagName":"footer","className":"footer"} /-->