<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","align":"wide","className":"main__header","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide main__header"><!-- wp:group {"align":"wide","className":"main__headerInner","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__headerInner"><!-- wp:group {"align":"wide","className":"main__headerContainer","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__headerContainer"><!-- wp:shortcode -->
[title]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__container"><!-- wp:columns {"verticalAlignment":null} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":3524,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://discoverechizen.com/data/uploads/hariisha-720x450.jpg" alt="" class="wp-image-3524"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph -->
<p>2020年4月より、越前海岸盛り上げ隊では、この地域に長期的な関わりを持ってくれるファンとの交流拠点を整備する『人の駅』プロジェクトの一環として、古民家「はりいしゃ」の改修を進めています。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>「はりいしゃ」は、越前海岸の町の旧商店街の一角に、文字通りかつて針治療院だった古民家です。商店街復活の願いを込めて、リノベーションが始まりました。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>改修後の「はりいしゃ」は、交流イベント実施用のスペースとしての利用だけでなく、越前海岸に滞在したいという方のために宿泊もできる場所として登録をしていきます。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"verticalAlignment":null} -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph -->
<p>2020年7月には、クラウドファンディングを行い、当初の目標150万円を大きく上回る296万円（達成率197%！）の支援を集めることができました。</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>支援者のみなさん、そして応援してくださったみなさんには感謝の気持ちでいっぱいです。本当にありがとうございました！</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>みなさんの期待を裏切らないよう、「はりいしゃ」の整備はもちろん、盛り上げ隊としての活動をこれからも真摯に自分たちらしく頑張っていきたいと思います。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"var:preset|spacing|50","bottom":"0","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50)"><!-- wp:image {"id":342,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://discoverechizen.com/data/uploads/campfire-720x540.jpg" alt="" class="wp-image-342"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:block {"ref":4004} /-->

<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
<h2 class="alignwide" style="margin-top:var(--wp--preset--spacing--60)">関連記事</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"postList \u002d\u002dlist"} -->
<!-- wp:group {"className":"postItem","layout":{"type":"constrained"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"もっと詳しく \u0026gt;","className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->