<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","align":"wide","className":"main__header","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide main__header"><!-- wp:group {"align":"wide","className":"main__headerInner","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__headerInner"><!-- wp:group {"align":"wide","className":"main__headerContainer","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__headerContainer"><!-- wp:shortcode -->
[title]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container lp","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__container lp">

<!-- wp:html -->
<h2>レストランのご紹介</h2>
<section>
  <h3>レストラン波乃華</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>レストラン波乃華が提供するサービスのテーマは、目前に広がる「海」そのもの。
          <br>夏は若大将が自ら素潜りで獲ったアワビやサザエをお手頃価格で味わったり、冬は越前カニと四季折々の日本海の恵みを堪能したりできます。
          <br>上質な素材を活かした料理は絶品。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>レストラン波乃華（ホテル割烹石丸）</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市鮎川町94-8-1</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-88-2225">0776-88-2225</a></td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="http://www.ishimaru.biz/" target="_blank">http://www.ishimaru.biz/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年（不定休）</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>11:00 ～ 14:00, 17:00 ～ 20:00</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>ランチ 1,300円位～</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/ishimaru_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_interior.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/ishimaru_interior.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_service.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/ishimaru_service.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_stf.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/ishimaru_stf.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/ishimaru_vst.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/ishimaru_vst.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>魚屋の喰い処まつ田</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>漁、魚、海を知り尽くした名物兄弟が目利きした魚は、新鮮そのもの！
          <br>地元の越前で捕れた魚にこだわり抜いた魚屋直営のレストランです。
          <br>ご当地でしか味わえない、四季折々の本物の鮮度と味覚をご堪能ください。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>魚屋の喰い処まつ田</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市蒲生町16-7-1</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-89-2740">0776-89-2740</a> (代表: <a href="/member/takuya-matta/">枩田卓也</a>)</td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="https://etizenkani.jp/" target="_blank">https://etizenkani.jp/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年 (木曜定休/11月7日〜3月末迄無休)</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>-</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>食事 1,600円位～</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/matta_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_interior.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/matta_interior.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_service.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/matta_service.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_service01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/matta_service01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/matta_stf.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/matta_stf.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>樽海（たるみ）</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>創業40年の越前蟹と地魚専門店です。
          <br>冬の越前蟹シーズンには、全て黄色いタグの付いた越前蟹のみを使用。
          <br>その他にも、活イカのお刺身や海鮮丼も樽海自慢の一品。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>樽海（たるみ）</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市浜北山町1-2</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-89-2311">0776-89-2311</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>10:00 ～ 18:00</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/tarumi_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_service.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/tarumi_service.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_service01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/tarumi_service01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_service02.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/tarumi_service02.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/tarumi_stf.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/tarumi_stf.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
<section>
<h2>カフェのご紹介</h2>
<section>
  <h3>ヒトモノコトを伝え繋がる商店 しの屋</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>「越前海岸 志野製塩所」、「海たて山たまご」、「海士心」など越前海岸の豊かな資源を活かした生業を営み、自分達で育て、採って、作ったものを中心に、そこから繋がっていく「ヒト」「モノ」「コト」をお届けする商店。
          <br>米、塩、海苔、と全て自前で揃えたおむすび、スープ等も楽しめる。
        </p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>しの屋</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市鮎川町133-1-1</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:070-3630-1920">070-3630-1920</a> (代表: <a href="/member/yusuke-shino/">志野佑介</a>)</td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="https://anoh.jp/" target="_blank">https://anoh.jp/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年（土日祝日のみ営業）</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>11:00 ～ 17:00</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>おむすび・スープ 800円位～</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/shinoya_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_app01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/shinoya_app01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_app02.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/shinoya_app02.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_service.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/shinoya_service.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/shinoya_service01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/shinoya_service01.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>CAFÉ MARE (カフェマーレ)</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>海のそばに建つ、恋愛、友愛、家族愛を育む愛の聖地。
          <br>日本海を一望できるテラスは、カフェというより、リゾートのような非日常を味わうことができる明るい空間です。
          <br>スタッフ達の誠意が、訪ねたその一日を忘れがたい「記念日」にしてくれます。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_interior.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>CAFÉ MARE</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市大丹生町70-3</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-88-2323">0776-88-2323</a></td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="https://cafemare.jp/" target="_blank">https://cafemare.jp/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>10:00 ～ 日没
                <br>ラストオーダー: 日没30分前</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>フード 800円 ～ 1,200円位
                <br>デザート 600円位 (税抜)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_interior.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafemare_interior.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafemare_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_app01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafemare_app01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_interior01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafemare_interior01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafemare_service03.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafemare_service03.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>喫茶 波の音</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>築140年の老舗民宿。
          <br>日本海の夕日を眺めながら食事が楽しめるほか、海辺で海水浴やワーケーションも。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/stay/yoneya_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>民宿 よねや</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市蒲生町11-6</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-89-2266">0776-89-2266</a></td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>ドリンク・ソフトクリーム 400円位～</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>Cafe Earth (カフェアース)</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>コーヒー豆やお料理、フードも体に優しいオーガニック料理をご用意。
          <br>美しい自然に囲まれた場所で本当の贅沢と豊かさを感じて。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_interior01.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>Cafe Earth</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市浜北山町18-8</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-89-7080">0776-89-7080</a></td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="https://earth-cafe-live-stay.com/" target="_blank">https://earth-cafe-live-stay.com/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年 (金曜定休,祝日の場合は営業)</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>10:00 ～ 18:00 (夏季)
                <br>10:30 ～ 17:30 (冬季)</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>フード 1,400円位～
                <br>デザート 600円位～ (税込)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid__11 --left_lg --mt_2">
        <div class="grid__inner">
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_interior01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafeearth_interior01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_app.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafeearth_app.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_app01.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafeearth_app01.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_app05.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafeearth_app05.jpg">
            </a>
          </div>
          <div class="grid__2 --mb_2 gallery__item">
            <a href="https://discoverechizen.com/data/themes/discoverechizen/assets/food/cafeearth_service.jpg">
              <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/sm/cafeearth_service.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
<section>
<h2>テイクアウト施設のご紹介</h2>
<section>
  <h3>バナナボーイ</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>一度飲んだら虜に♡
          <br>越前海岸のバナナジュースのテイクアウト専門店。
          <br>エンターテイナーのマサ越前がお出迎え。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/877boy.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>バナナボーイ</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市蒲生町16-7-1</td>
            </tr>
            <tr>
              <th>URL</th>
              <td><a href="http://www.instagram.com/877boy/" target="_blank">http://www.instagram.com/877boy/</a></td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年 (木曜定休)</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>10:00 ～ 17:00</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>ドリンク 400円位～</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section>
  <h3>ごーる堂</h3>
  <div class="grid --mb_4 gallery">
    <div class="grid__inner">
      <div class="grid__11 --mt_2 --mb_2 gallery__desc">
        <p>材料は、福井県産のきな粉と国産豆乳。
          <br>100%植物性の体に優しいソフトクリーム屋さん。</p>
      </div>
      <div class="grid__4 gallery__main">
        <img src="https://discoverechizen.com/data/themes/discoverechizen/assets/food/goledoh_app.jpg">
      </div>
      <div class="grid__6">
        <h4>INFORMATION</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>事業所</th>
              <td>ごーる堂</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>福井市畠中町28-6</td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td><a href="tel:0776-97-2125">0776-97-2125</a> (代表: <a href="/member/masaharu-dohshita/">堂下雅晴</a>)</td>
            </tr>
            <tr>
              <th>営業期間</th>
              <td>通年 (水曜定休)</td>
            </tr>
            <tr>
              <th>営業時間</th>
              <td>10:00 ～ 18:00 (夏季)</td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td>ソフトクリーム 350円位～ (税込)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- /wp:html -->



<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
<h2 class="alignwide" style="margin-top:var(--wp--preset--spacing--60)">関連記事</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"postList \u002d\u002dlist"} -->
<!-- wp:group {"className":"postItem","layout":{"type":"constrained"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"もっと詳しく \u0026gt;","excerptLength":100,"className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->