<!-- wp:template-part {"slug":"hero","tagName":"header","className":"hero"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"type":"default"}} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-feature","tagName":"section","align":"wide","className":"section \u002d\u002dfeature"} /-->

<!-- wp:template-part {"slug":"section-about","tagName":"section","align":"wide","className":"section \u002d\u002dabout"} /-->

<!-- wp:template-part {"slug":"section-pickup","tagName":"section","align":"wide","className":"section \u002d\u002dpickup"} /-->

<!-- wp:template-part {"slug":"section-discover","tagName":"section","align":"wide","className":"section \u002d\u002ddiscover"} /-->

<!-- wp:template-part {"slug":"section-news","tagName":"section","align":"wide","className":"section \u002d\u002dnews"} /-->

<!-- wp:template-part {"slug":"section-access","tagName":"section","align":"wide","className":"section \u002d\u002daccess"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","align":"wide","className":"section \u002d\u002dcontact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->