<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-about","tagName":"section","className":"about"} /-->

<!-- wp:template-part {"slug":"section-news","tagName":"section","className":"news"} /-->

<!-- wp:template-part {"slug":"section-access","tagName":"section","className":"access"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->