<!-- wp:template-part {"slug":"hero","theme":"discoverechizen","tagName":"header","className":"hero"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"type":"default"}} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-feature","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --feature"} /-->

<!-- wp:template-part {"slug":"section-about","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --about"} /-->

<!-- wp:template-part {"slug":"section-pickup","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --pickup"} /-->

<!-- wp:template-part {"slug":"section-news","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --news"} /-->

<!-- wp:template-part {"slug":"section-access","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --access"} /-->

<!-- wp:template-part {"slug":"section-contact","theme":"discoverechizen","tagName":"section","align":"wide","className":"section --contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"discoverechizen","tagName":"footer"} /-->