<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:cover {"overlayColor":"secondary-light","isDark":false,"className":"titleArea","style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} -->
<div class="wp-block-cover is-light titleArea" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><span aria-hidden="true" class="wp-block-cover__background has-secondary-light-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"titleArea__inner","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group titleArea__inner"><!-- wp:group {"align":"wide","className":"titleArea__container"} -->
<div class="wp-block-group alignwide titleArea__container"><!-- wp:heading {"level":1,"align":"wide","fontSize":"x-large"} -->
<h1 class="alignwide has-x-large-font-size" id="ブログタイトル">ブログタイトル</h1>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"wide","className":"main__container","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide main__container"><!-- wp:post-template {"align":"wide","className":"postList --list"} -->
<!-- wp:group {"className":"postItem","layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"read more &gt;","className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->