<!-- wp:template-part {"slug":"header","theme":"discoverechizen","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:shortcode -->
[title]
<!-- /wp:shortcode -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"className":"breadcrumb","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group breadcrumb" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:group {"align":"wide","className":"breadcrumb__container","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group alignwide breadcrumb__container"><!-- wp:site-title {"level":2,"className":"breadcrumb__item","fontSize":"small"} /-->

<!-- wp:heading {"level":3,"className":"breadcrumb__item","fontSize":"small"} -->
<h3 class="breadcrumb__item has-small-font-size" id="ブログタイトル-1"><a href="/blog/">ブログタイトル</a></h3>
<!-- /wp:heading -->

<!-- wp:post-title {"level":4,"className":"breadcrumb__item --current","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","className":"main__body"} -->
<article class="wp-block-group main__body"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"className":"postList","layout":{"inherit":true}} -->
<div class="wp-block-query postList"><!-- wp:post-template {"align":"wide","className":"postList__inner"} -->
<!-- wp:group {"className":"postItem"} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__container"} -->
<div class="wp-block-group postItem__container"><!-- wp:group {"align":"wide","className":"postItem__contentWrap","layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group alignwide postItem__contentWrap"><!-- wp:group {"align":"wide","className":"postItem__image --flex-item_4","layout":{"inherit":false}} -->
<div class="wp-block-group alignwide postItem__image --flex-item_4"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"","align":"center","style":{"spacing":{"padding":{"right":"0.75rem","left":"0.75rem"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content --flex-item_8","layout":{"inherit":false}} -->
<div class="wp-block-group postItem__content --flex-item_8"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d"} /-->

<!-- wp:post-terms {"term":"category","separator":""} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"align":"wide"} /-->

<!-- wp:post-excerpt {"moreText":"read more &gt;"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"discoverechizen","tagName":"footer","className":"footer"} /-->