<!-- wp:template-part {"slug":"header","theme":"discoverechizen"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","className":"main__header"} -->
<header class="wp-block-group main__header"><!-- wp:shortcode -->
[title]
<!-- /wp:shortcode -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"className":"breadcrumb","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group breadcrumb" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:group {"align":"wide","className":"breadcrumb__container","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group alignwide breadcrumb__container"><!-- wp:site-title {"level":2,"className":"breadcrumb__item","fontSize":"small"} /-->

<!-- wp:post-title {"level":3,"className":"breadcrumb__item --current","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container"} -->
<div class="wp-block-group alignwide main__container">

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group">

<!-- wp:html -->
<h2 class="--flex-item_12 --text_center"><img src="https://test.discoverechizen.com/data/uploads/copy_about.svg" alt="どこにでもある、新しい海辺。福井市越前海岸" title="どこにでもある、新しい海辺。福井市越前海岸" style="width: clamp(24rem, 48vw, 36rem)"></h2>
<!-- /wp:html -->

<!-- wp:image {"align":"center","id":345,"width":540,"height":405,"sizeSlug":"large","linkDestination":"none","className":"--flex-item_6 --flex-item_order-md-1"} -->
<figure class="wp-block-image aligncenter size-large is-resized --flex-item_6 --flex-item_order-md-1"><img src="https://test.discoverechizen.com/data/uploads/illust_area_all-720x540.png" alt="" class="wp-image-345" width="540" height="405"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_5 --flex-item_order-md-0"} -->
<div class="wp-block-group --flex-item_5 --flex-item_order-md-0"><!-- wp:image {"align":"center","id":351,"sizeSlug":"large","linkDestination":"none","className":"--visible_md"} -->
<figure class="wp-block-image aligncenter size-large --visible_md"><img src="https://test.discoverechizen.com/data/uploads/illust_dec_00.png" alt="" class="wp-image-351"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph -->
<p>越前海岸は、福井県敦賀市杉津から、坂井市三国町安島に至る海岸線です。日本海の荒波によって創られた奇岩断崖が続くリアス式海岸で、国定公園にも指定されています。私たちが暮らす福井市越前海岸は、北は東尋坊、南は越前蟹で有名な越前港の間に位置しています。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"48px","className":"--visible_md"} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer --visible_md"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"center","id":356,"width":540,"height":360,"sizeSlug":"large","linkDestination":"none","className":"--flex-item_6"} -->
<figure class="wp-block-image aligncenter size-large is-resized --flex-item_6"><img src="https://test.discoverechizen.com/data/uploads/main01-720x480.jpg" alt="" class="wp-image-356" width="540" height="360"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_5"} -->
<div class="wp-block-group --flex-item_5"><!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph -->
<p>気づかずに通り過ぎてしまう、どこにでもある海辺の小さな町かもしれませんが、目の前に日本海の広がるこの地には、のんびりと流れる時間があります。恵まれた自然の恩恵を受けた海の幸・山の幸と、豊かな暮らしがあります。ここでの暮らしのひとコマひとコマは、私たちのとっての宝物です。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:image {"align":"center","id":352,"sizeSlug":"large","linkDestination":"none","className":"--visible_md"} -->
<figure class="wp-block-image aligncenter size-large --visible_md"><img src="https://test.discoverechizen.com/data/uploads/illust_dec_01.png" alt="" class="wp-image-352"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"72px","className":"--visible_md"} -->
<div style="height:72px" aria-hidden="true" class="wp-block-spacer --visible_md"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"center","id":4222,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_5"} -->
<figure class="wp-block-image aligncenter size-medium --flex-item_5"><img src="https://test.discoverechizen.com/data/uploads/illust_logo_wide_lg-360x120.png" alt="" class="wp-image-4222"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6","layout":{"type":"constrained"}} -->
<div class="wp-block-group --flex-item_6"><!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph -->
<p>そんな地域の魅力に惹かれて、この地では今、お店を開いたり、移住する人も現れ、新しい宝物がひとつ、またひとつ、と生まれつつあります。「福井市越前海岸盛り上げ隊」は、そんな地域の宝物を発見し、より多くの人と分かち合いながら、次代へ受け継いでいきたいという思いで活動しています。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"--flex-item_9","layout":{"type":"constrained"}} -->
<div class="wp-block-group --flex-item_9"><!-- wp:spacer {"height":"48px","className":"--visible_md"} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer --visible_md"></div>
<!-- /wp:spacer -->

<!-- wp:image {"align":"center","id":361,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image aligncenter size-full"><img src="https://test.discoverechizen.com/data/uploads/members.jpg" alt="" class="wp-image-361"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"96px"} -->
<div style="height:96px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":351,"sizeSlug":"full","linkDestination":"none","className":"--flex-item_2 --visible_md"} -->
<figure class="wp-block-image size-full --flex-item_2 --visible_md"><img src="https://test.discoverechizen.com/data/uploads/illust_dec_00.png" alt="" class="wp-image-351"/></figure>
<!-- /wp:image -->

<!-- wp:html -->
<h2 class="--flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/copy_area.svg" alt="棗・鷹巣・国見・越廼・殿下 個性豊かな5つのエリア" title="棗・鷹巣・国見・越廼・殿下 個性豊かな5つのエリア" style="width: clamp(24rem, 48vw, 36rem)"></h2>
<!-- /wp:html -->

<!-- wp:image {"id":352,"width":270,"height":60,"sizeSlug":"full","linkDestination":"none","className":"--flex-item_2 --visible_md"} -->
<figure class="wp-block-image size-full is-resized --flex-item_2 --visible_md"><img src="https://test.discoverechizen.com/data/uploads/illust_dec_01.png" alt="" class="wp-image-352" width="270" height="60"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":4305,"sizeSlug":"large","linkDestination":"none","className":"--flex-item_8 --text_center"} -->
<figure class="wp-block-image size-large --flex-item_8 --text_center"><img src="https://test.discoverechizen.com/data/uploads/illust_area.png" alt="" class="wp-image-4305"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_8","layout":{"type":"constrained"}} -->
<div class="wp-block-group --flex-item_8"><!-- wp:paragraph -->
<p>私たちが活動するのは、福井市の越前海岸沿いに位置する五つのエリア「鷹巣」「棗」「国見」 「越廼」「殿下」。福井市越前海岸盛り上げ隊も、地区のしばりを超えて結成されています。</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":427,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4 --text_center"} -->
<figure class="wp-block-image size-medium --flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/area_takasu-360x264.jpg" alt="" class="wp-image-427"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading {"level":4} -->
<h4><ruby>鷹巣<rt>たかす</rt></ruby>地区</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>日本海屈指の透明度を誇る海水浴場があり、夏は海水浴客で賑わう鷹巣地区。マリンスポーツや釣り、ドライブも楽しめます。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":426,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4 --text_center"} -->
<figure class="wp-block-image size-medium --flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/area_natusme-360x264.jpg" alt="" class="wp-image-426"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading {"level":4} -->
<h4><ruby>棗<rt>なつめ</rt></ruby>地区</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>福井市の川西ブロック ( 北西部 ) に属する棗地区。昔、棗村と呼ばれていた程、棗の木が沢山なっています。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":425,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4 --text_center"} -->
<figure class="wp-block-image size-medium --flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/area_kunimi-360x264.jpg" alt="" class="wp-image-425"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading {"level":4} -->
<h4><ruby>国見<rt>くにみ</rt></ruby>地区</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>福井市の最西部にある国見地区は、東には国見嶽、西は日本海に面した風光明媚な海岸地帯が広がります。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":424,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4 --text_center"} -->
<figure class="wp-block-image size-medium --flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/area_koshino-360x264.jpg" alt="" class="wp-image-424"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading {"level":4} -->
<h4><ruby>越廼<rt>こしの</rt></ruby>地区</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>越前岬の北側に位置する越廼地区は越前水仙発祥の地として知られており、12 月～2月頃にかけて山肌に美しい水仙が見られます。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"id":423,"sizeSlug":"medium","linkDestination":"none","className":"--flex-item_4 --text_center"} -->
<figure class="wp-block-image size-medium --flex-item_4 --text_center"><img src="https://test.discoverechizen.com/data/uploads/area_denga-360x240.jpg" alt="" class="wp-image-423"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"--flex-item_6"} -->
<div class="wp-block-group --flex-item_6"><!-- wp:heading {"level":4} -->
<h4><ruby>殿下<rt>でんが</rt></ruby>地区</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>山間地に位置する殿下地区は、夏には蛍が乱舞する、自然豊かな環境に恵まれた土地です。</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"discoverechizen"} /-->