<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main","layout":{"inherit":false}} -->
<main id="main" class="wp-block-group main"><!-- wp:group {"tagName":"header","align":"wide","className":"main__header","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide main__header"><!-- wp:group {"align":"wide","className":"main__headerInner","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide main__headerInner"><!-- wp:group {"align":"wide","className":"main__headerContainer","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__headerContainer"><!-- wp:shortcode -->
[title]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","className":"main__body","layout":{"inherit":true,"type":"constrained"}} -->
<article class="wp-block-group main__body"><!-- wp:group {"align":"wide","className":"main__container lp","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide main__container lp">

<!-- wp:cover {"dimRatio":30,"overlayColor":"primary-light","isDark":false,"className":"--profile"} -->
<div class="wp-block-cover is-light --profile"><span aria-hidden="true" class="wp-block-cover__background has-primary-light-background-color has-background-dim-30 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:block {"ref":4022} /--></div></div>
<!-- /wp:cover -->



<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
<h2 class="alignwide" style="margin-top:var(--wp--preset--spacing--60)">関連記事</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"postList \u002d\u002dlist"} -->
<!-- wp:group {"className":"postItem","layout":{"type":"constrained"}} -->
<div class="wp-block-group postItem"><!-- wp:group {"className":"postItem__image","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__image"><!-- wp:post-featured-image {"isLink":true,"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"postItem__content","layout":{"type":"default"}} -->
<div class="wp-block-group postItem__content"><!-- wp:group {"className":"postItem__info","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group postItem__info"><!-- wp:post-date {"format":"Y.m.d","className":"postItem__date"} /-->

<!-- wp:post-terms {"term":"category","separator":"","className":"postItem__terms"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"align":"wide","className":"postItem__heading"} /-->

<!-- wp:post-excerpt {"moreText":"read more \u0026gt;","className":"postItem__excerpt"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-numbers /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->