/**
 * Component - Breadcrumb
 */

.breadcrumb {  
  position: relative;
  width: 100%;
  margin: 0 auto 1.5rem;
  padding: 1.5rem 0;
  @include smallText();

  &__item {
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    
    &:not(:first-child)::before {
      content: ">";
      padding-left: .375rem;
      padding-right: .375rem;
    }
  }
}
