/**
 * Project - Section
 */

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__inner {
    // 背景色検知用
    background-color: var(--wp--preset--color--white);
  }

  &__titleArea {
    @extend %__titleArea;
  }

  &__title {
    @extend %__title;
  }

  &__titleText {
    @extend %__titleText;
  }

  &__container {
    @extend %__container;
  }

  &.--pickup {
    .wp-block-post-excerpt {
      &__more-text {
        text-align: center;
      }

      &__more-link {
        @include button("primary-dark");
      }
    }


  }
}
