// Variables

// Root
$root-font-size: 16px;

// Grid system
$grid-columns: 12;
$grid-gutter-width: 1rem;

// Breakpoints
$grid-breakpoints: (
  sm: 600px, // Match style of WordPress block library
  md: 782px,
  lg: 1024px
);

// Container max widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

// Theme color
$key-color: hsl(195, 100%, 42%);
$theme-colors: (
  primary:       $key-color,
  primary-light: hsl(195, 66%, 83%),
  primary-dark:  darken($key-color, 17%),
  secondary:     hsl(15, 75%, 42%),
  light:         lighten(#000000, 92%),
  dark:          lighten(#000000, 17%)
);

$body-bg:    #ffffff;
$body-color: lighten(#000000, 33%);

$link-color:            map-get($theme-colors, "primary");
$link-decoration:       none;
$link-hover-color:      map-get($theme-colors, "primary-dark");
$link-hover-decoration: underline;

// Theme Fonts
$font-family-sans-serif: "Noto Sans JP", sans-serif;
$font-family-serif:      "Noto Serif JP", serif;
$font-weight-sans-serif: 400;
$font-weight-serif:      400;

$font-family-base:    $font-family-sans-serif;
$font-weight-base:    $font-weight-sans-serif;
$font-size-base:      1rem;
$text-align-base:     justify;
$line-height-base:    28.8 / ($root-font-size / ($root-font-size* 0 + 1));
$letter-spacing-base: 0;

$heading-font-family: $font-family-sans-serif;
$heading-font-weight: $font-weight-sans-serif;

$small-font-size:      percentage(7 / 8);
$small-line-height:    $line-height-base * 9 / 8;
$small-letter-spacing: 0.04rem;

$spinner-width: 288px;
