/**
 * Foundation
 */

 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 
 html {
   font-size: $rootFontSize;
   scroll-behavior: smooth;
   
   @media (max-width: breakpoint("sm") - 0.1) {
     font-size: $fixedFontSize;
   }
 }
  
 body {
   margin: 0; // Remove the margin in all browsers
   background-color: $bodyBg;
   color: $bodyColor;
   font-family: $fontFamilyBase;
   font-weight: $fontWeightBase;
   line-height: $lineHeightBase;
   letter-spacing: $letterSpacingBase;
   -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: $headingMarginTop;
   margin-bottom: $headingMarginBottom;
   font-family: $headingFontFamily;
   font-weight: $headingFontWeight;
 }
 
 h1 {
   font-size: $h1FontSize;
 }
 
 h2 {
   font-size: $h2FontSize;
 }
 
 h3 {
   font-size: $h3FontSize;
 }
 
 h4 {
   font-size: $h4FontSize;
 }
 
 h5 {
   font-weight: bold;
   font-size: $h5FontSize;
 }
 
 h6 {
   font-weight: bold;
   font-size: $h6FontSize;
 }
 
 p {
   margin-top: $textMarginTop;
   margin-bottom: $textMarginBottom;
 }
 
 ol, ul {
   margin-top: $textMarginTop;
   margin-bottom: $textMarginBottom;
 }
 
 li {
   margin-top: $textMarginTop;
   margin-bottom: $textMarginBottom;
 }
 
 strong {
   font-weight: bold;
 }
 
 small {
   @include smallText();
 }
 
 blockquote {
   @include blockquote();
 }
 
 a {
   @include link();
 }
 
 img {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
 }
 
 figure {
   display: block;
   margin: $textMarginTop auto $textMarginBottom;
 }
 
 figcaption {
   @include smallText();
   text-align: center;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 th {
   text-align: left;
 }
 
 button, input, select, textarea {
   font: inherit;  // Change the font styles in all browsers
 }
 