/**
 * WP Blocks
 */

.wp-block {
  &-navigation {
    &-item {
      margin: 0;

      a {
        @include link();
      }
    }
  }

  &-social-links {
    margin: 0;
  }

  &-post {
    &-featured-image {
      text-align: center;
      
      img {
        aspect-ratio: 4 / 3;
        object-fit: cover;
      }
    }

    &-terms {
      padding-left: space(2);

      a::before {
        content: "#";
      }

      &__separator {
        padding-left: space(2);
      }
    }

    &-excerpt {
      &__more-text {
        text-align: right;
      }
    }
  }

  &-image {
    overflow: hidden;
  }

  &-query-pagination {
    &-numbers {
      .page-numbers {
        display: inline-block;
        @include background();
        @include makeButton();
        padding: 1rem;
        border: 2px solid themeColor("lightest");

        &.current {
          @include background("primaryLight");
          cursor: default;
        }
      }
    }
  }

  &-quote {
    @include blockquote();
  }

  &-table {
    @include table();
  }
}
