// No support

.no-support {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $body-bg;
  color: $body-color;
  text-align: center;
}
