// Slidebar

#slidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: 18rem;
  height: 100%;
  margin: auto;
  background-color: rgba(theme-color("primary"), .85); // customized
  text-align: center;
  transition: width ease-in-out .25s;
  
  a {
    color: #ffffff;
    text-decoration: none;
    
    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  &:not(.show) {
    width: 0;
  }
}

#slidemenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  @include list-unstyled();
  justify-content: center;
  align-items: center;
  opacity: 1;

  li {
    padding: .25rem;
    text-transform: capitalize;

    img {
      width: auto;
      height: 2rem;
    }
  }
  
  &:not(.show) {
    opacity: 0;
  }

  &.collapse {
    display: none;
  }
}

#slidebar-close{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  outline: 0;
  cursor: pointer;
  
  .icon {
    margin: .75rem; // customized
  }
  
  &:hover {
    color: $link-hover-color;
  }

  &.collapse {
    display: none;
  }
}

#slidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &.collapse {
    display: none;
  }
}
